extends ../layouts/master.pug

mixin product-link
  a.product-link(class=attributes.class href='#')
    .product-link__image
      img.product-link__img(src=attributes.src)
    .product-link__text
      block


//- block cookies
block grid-test

block content
  .page-404
    .container
      .row
        .row__col.row__col--aside
          .aside.aside--position--static
            .aside__inner
              .aside__container
                .aside__top.modal(data-modal='4')
                  header.header
                    a.header__logo(href='#')
                      +logo-svg.header__logo-svg
                    .header__menu(data-button='4')
                      .header__text
                        |Меню
                      .header__button
                        .header__burger
                  .modal-aside
                    .modal-aside__container
                      .modal-aside__row
                        .modal-aside__col
                          nav.modal-aside__nav
                            ul.modal-aside__nav-list
                              .modal-aside__nav-col
                                each item in ['Где купить', 'Вопрос эксперту', 'Отзывы Спрей Эпиген ', 'Отзывы Гель Эпиген ',]
                                  li.modal-aside__nav-item
                                    a.modal-aside__nav-link(href="#")
                                      |#{item}
                              .modal-aside__nav-col
                                each item in ['Видео с экспертами', 'Статьи экспертов', 'Вопрос-ответ', 'Специалистам',]
                                  li.modal-aside__nav-item
                                    a.modal-aside__nav-link(href="#")
                                      |#{item}
                          .modal-aside__corp
                            span
                              |Сделано в&nbsp;
                            a.modal-aside__corp-link(href="#")
                              |CloudMill
                        .modal-aside__col
                          .modal-aside__col-item
                            +product-link.product-link--modal--aside(src='assets/images/spray.jpeg')
                              |Спрей
                            .modal-aside__doc
                              a.modal-aside__doc-link(href="#")
                                |Политика конфиденциальности
                          .modal-aside__col-item
                            +product-link.product-link--modal--aside.product-link--purple(src='assets/images/gel.jpeg')
                              |Гель
                            .modal-aside__doc
                              a.modal-aside__doc-link(href="#")
                                |Положение о пользовании сайтом


        .row__col.row__col--main
          .page
            header.page__header
              .panel
                .panel__panel
                  .panel__row
                    .panel__col
                      .panel__inner
                        .panel__product
                          //- .panel__product-item--active
                          a.panel__product-item(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__wrapper
                      .panel__wrapper-col
                        .panel__inner
                          a.panel__where-buy(href='#')
                            |Где купить
                          .panel__choice
                            .panel__choice-item(data-count=8 data-modal-button='3')
                              |Симптомы
                            .panel__choice-item(data-count=12 data-modal-button='2')
                              |Заболевания
                      .panel__wrapper-col
                        .panel__inner
                          .panel__test
                            +calendar-test-svg.panel__test-icon
                            .panel__test-text
                              |Пройти тест
                          .panel__consultation
                            +consultation-svg.panel__consultation-svg
                            .panel__consultation-text
                              |Консультация эксперта
                      .panel__modals
                        .panel-modal(data-modal-id='2')
                          .panel-modal__container
                            .panel-modal__row
                              .panel-modal__col
                                ul.panel-modal__list
                                  each item in ['Генитальный герпес (I и II типа)', 'ВПЧ', 'Применение при беременности', 'Молочница', 'Бактериальный вагиноз',]
                                    li.panel-modal__item
                                      a.panel-modal__link(href="#")
                                        |#{item}
                              .panel-modal__col
                                ul.panel-modal__list
                                  each item in ['ВПЧ', 'Молочница',]
                                    li.panel-modal__item
                                      a.panel-modal__link(href="#")
                                        |#{item}
                        .panel-modal(data-modal-id='3')
                          .panel-modal__container
                            .panel-modal__row
                              .panel-modal__col
                                ul.panel-modal__list
                                  each item in ['Зуд', 'Жжение', 'Выделения, пузырьки', 'Пузырьки, язвочки', 'Болезненность, выделения',]
                                    li.panel-modal__item
                                      a.panel-modal__link(href="#")
                                        |#{item}
                              .panel-modal__col
                                ul.panel-modal__list
                                  each item in ['Болезненность при половом контакте', 'Боль внизу живота', 'Боль при мочеиспускании']
                                    li.panel-modal__item
                                      a.panel-modal__link(href="#")
                                        |#{item}
                  .panel__mobile
                    header.header
                      a.header__logo(href="#")
                        +logo-svg.header__svg
                      .header__menu(data-modal-button='1')
                        .header__button
                          .header__burger
                  .panel__modals
                    .modal-mobile.modal-mobile--height--100vh-60p(data-modal-id='1')
                      .modal-mobile__inner
                        .modal-mobile__container
                          .modal-mobile__products
                            .modal-mobile__products-item
                              +product-link.product-link--modal--mobile(src='assets/images/spray.jpeg')
                                |Спрей
                            .modal-mobile__products-item
                              +product-link.product-link--modal--mobile.product-link--purple(src='assets/images/gel.jpeg')
                                |Гель
                        .panel.panel--modal
                          .panel__choice
                            .modal-mobile__choice
                              .modal-mobile__choice-button
                                .panel__choice-item(data-count='8')
                                  |Симптомы
                                +spoiler-arrow-svg.modal-mobile__choice-svg
                              .modal-mobile__choice-dropdown
                            .modal-mobile__choice
                              .modal-mobile__choice-button
                                .panel__choice-item(data-count='12')
                                  |Заболевания
                                +spoiler-arrow-svg.modal-mobile__choice-svg
                              .modal-mobile__choice-dropdown
                          .modal-mobile__links
                            .modal-mobile__container
                              ul.modal-mobile__links-list
                                li.modal-mobile__links-item
                                  a.panel__test
                                    +calendar-test-svg.panel__test-icon
                                    .panel__test-text
                                      |Пройти тест
                                li.modal-mobile__links-item
                                  .panel__consultation
                                    +consultation-svg.panel__consultation-svg
                                    .panel__consultation-text
                                      |Консультация эксперта
                                each item in ['Где купить', 'Вопрос эксперту', 'Отзывы Спрей Эпиген ', 'Отзывы Гель Эпиген ', 'Видео с экспертами', 'Статьи экспертов', 'Вопрос-ответ', 'Специалистам',]
                                  li.modal-mobile__links-item
                                    a.modal-mobile__links-link(href="#")
                                      |#{item}
                        .modal-mobile__bottom
                          .modal-mobile__container
                            ul.modal-mobile__bottom-links
                              li.modal-mobile__bottom-item
                                a.modal-mobile__bottom-doc(href="#")
                                  |Политика конфиденциальности
                              li.modal-mobile__bottom-item
                                a.modal-mobile__bottom-doc(href="#")
                                  |Положение о пользовании сайтом
                              li.modal-mobile__bottom-item
                                .modal-mobile__bottom-text
                                  span
                                    |Сделано в&nbsp;
                                  a.modal-mobile__bottom-link(href="#")
                                    |CloudMill

      p.link-text.page-404__text
        |Страница не найдена, но вы можете#[br]перейти на страницы нашей#[br]продукции: #[a.link-text__link(href='#') Спрей Эпиген Интим]#[br]#[a.link-text__link(href='#') Гель Эпиген Интим] или на #[a.link-text__link(href='#') Главную]
      .page-404__404
        +404-svg.page-404__404-img
        +star-svg.page-404__404-star
        +moon-svg.page-404__404-moon
