extends ../layouts/master.pug

include ../components/footer.pug

block cookies
block grid-test



mixin copyright-link
  a.copyright-link(href=attributes.href)
    .copyright-link__mark
      +copyright-svg.copyright-link__mark-svg
    .copyright-link__text
      block


block content
  .buy-page
    .container
      .row
        .row__col.row__col--aside.row__col--rail
          .aside
            .aside__inner
              .aside__container
                .aside__top.modal(data-modal='4')
                  header.header(data-aos='fade-up')
                    a.header__logo(href='#')
                      +logo-svg.header__logo-svg
                    .header__menu(data-button='4')
                      .header__text
                        |Меню
                      .header__button
                        .header__burger
                  .modal-aside
                    .modal-aside__container
                      .modal-aside__row
                        .modal-aside__col
                          nav.modal-aside__nav
                            ul.modal-aside__nav-list
                              .modal-aside__nav-col
                                each item in ['Где купить', 'Вопрос эксперту', 'Отзывы Спрей Эпиген ', 'Отзывы Гель Эпиген ',]
                                  li.modal-aside__nav-item
                                    a.modal-aside__nav-link(href="#")
                                      |#{item}
                              .modal-aside__nav-col
                                each item in ['Видео с экспертами', 'Статьи экспертов', 'Вопрос-ответ', 'Специалистам',]
                                  li.modal-aside__nav-item
                                    a.modal-aside__nav-link(href="#")
                                      |#{item}
                          .modal-aside__corp
                            span
                              |Сделано в&nbsp;
                            a.modal-aside__corp-link(href="#")
                              |CloudMill
                        .modal-aside__col
                          .modal-aside__col-item
                            +product-link.product-link--modal--aside(src='assets/images/spray.jpeg')
                              |Спрей
                            .modal-aside__doc
                              a.modal-aside__doc-link(href="#")
                                |Политика конфиденциальности
                          .modal-aside__col-item
                            +product-link.product-link--modal--aside.product-link--purple(src='assets/images/gel.jpeg')
                              |Гель
                            .modal-aside__doc
                              a.modal-aside__doc-link(href="#")
                                |Положение о пользовании сайтом
                .aside__bottom(data-aos='fade-up')
                  +copyright-link(href='#')
                    |Компания «Инвар», 2021
        .row__col.row__col--main
          .page
            header.page__header
              .panel
                .panel__panel
                  .panel__row
                    .panel__col(data-aos='fade-up')
                      .panel__inner
                        .panel__product
                          //- .panel__product-item--active
                          a.panel__product-item(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__wrapper(data-aos='fade-up')
                      .panel__wrapper-row
                        .panel__wrapper-col
                          .panel__inner
                            a.panel__where-buy(href='#')
                              |Где купить
                            .panel__choice
                              .panel__choice-item(data-count=8 data-modal-button='3')
                                |Симптомы
                              .panel__choice-item(data-count=12 data-modal-button='2')
                                |Заболевания
                        .panel__wrapper-col
                          .panel__inner
                            .panel__test(data-button='3')
                              +calendar-test-svg.panel__test-icon
                              .panel__test-text
                                |Пройти тест
                            .panel__consultation
                              +consultation-svg.panel__consultation-svg
                              .panel__consultation-text
                                |Консультация эксперта
                      .panel__modals
                        .panel-modal(data-modal-id='2')
                          .panel-modal__container
                            .panel-modal__row
                              .panel-modal__col
                                ul.panel-modal__list
                                  each item in ['Генитальный герпес (I и II типа)', 'ВПЧ', 'Применение при беременности', 'Молочница', 'Бактериальный вагиноз',]
                                    li.panel-modal__item
                                      a.panel-modal__link(href="#")
                                        |#{item}
                              .panel-modal__col
                                ul.panel-modal__list
                                  each item in ['ВПЧ', 'Молочница',]
                                    li.panel-modal__item
                                      a.panel-modal__link(href="#")
                                        |#{item}
                        .panel-modal(data-modal-id='3')
                          .panel-modal__container
                            .panel-modal__row
                              .panel-modal__col
                                ul.panel-modal__list
                                  each item in ['Зуд', 'Жжение', 'Выделения, пузырьки', 'Пузырьки, язвочки', 'Болезненность, выделения',]
                                    li.panel-modal__item
                                      a.panel-modal__link(href="#")
                                        |#{item}
                              .panel-modal__col
                                ul.panel-modal__list
                                  each item in ['Болезненность при половом контакте', 'Боль внизу живота', 'Боль при мочеиспускании']
                                    li.panel-modal__item
                                      a.panel-modal__link(href="#")
                                        |#{item}
                  .panel__mobile
                    header.header(data-aos='fade-up')
                      a.header__logo(href="#")
                        +logo-svg.header__svg
                      .header__menu(data-modal-button='1')
                        .header__button
                          .header__burger
                  .panel__modals
                    .modal-mobile.modal-mobile--height--100vh-60p(data-modal-id='1')
                      .modal-mobile__inner
                        .modal-mobile__container
                          .modal-mobile__products
                            .modal-mobile__products-item
                              +product-link.product-link--modal--mobile(src='assets/images/spray.jpeg')
                                |Спрей
                            .modal-mobile__products-item
                              +product-link.product-link--modal--mobile.product-link--purple(src='assets/images/gel.jpeg')
                                |Гель
                        .panel.panel--modal
                          .panel__choice
                            .modal-mobile__choice
                              .modal-mobile__choice-button
                                .panel__choice-item(data-count='8')
                                  |Симптомы
                                +spoiler-arrow-svg.modal-mobile__choice-svg
                              .modal-mobile__choice-dropdown
                            .modal-mobile__choice
                              .modal-mobile__choice-button
                                .panel__choice-item(data-count='12')
                                  |Заболевания
                                +spoiler-arrow-svg.modal-mobile__choice-svg
                              .modal-mobile__choice-dropdown
                          .modal-mobile__links
                            .modal-mobile__container
                              ul.modal-mobile__links-list
                                li.modal-mobile__links-item
                                  a.panel__test(href="#")
                                    +calendar-test-svg.panel__test-icon
                                    .panel__test-text
                                      |Пройти тест
                                li.modal-mobile__links-item
                                  a.panel__consultation(href="#")
                                    +consultation-svg.panel__consultation-svg
                                    .panel__consultation-text
                                      |Консультация эксперта
                                each item in ['Где купить', 'Вопрос эксперту', 'Отзывы Спрей Эпиген ', 'Отзывы Гель Эпиген ', 'Видео с экспертами', 'Статьи экспертов', 'Вопрос-ответ', 'Специалистам',]
                                  li.modal-mobile__links-item
                                    a.modal-mobile__links-link(href="#")
                                      |#{item}
                        .modal-mobile__bottom
                          .modal-mobile__container
                            ul.modal-mobile__bottom-links
                              li.modal-mobile__bottom-item
                                a.modal-mobile__bottom-doc(href="#")
                                  |Политика конфиденциальности
                              li.modal-mobile__bottom-item
                                a.modal-mobile__bottom-doc(href="#")
                                  |Положение о пользовании сайтом
                              li.modal-mobile__bottom-item
                                .modal-mobile__bottom-text
                                  span
                                    |Сделано в&nbsp;
                                  a.modal-mobile__bottom-link(href="#")
                                    |CloudMill
            main.page__main
              h1.title(data-aos='fade-up')
                |Где купить
              .rail.rail--margin-bottom--default.rail--desctop
              section.buy-page__section
                ul.product-choice.product-choice--margin-bottom--default
                  li.product-choice__item(data-aos='fade-up')
                    a.product-btn.product-btn--active(href='#')
                      +spray-svg.product-btn__svg
                      p.product-btn__text
                        |Эпиген Интим
                        br
                        |Спрей
                  li.product-choice__item(data-aos='fade-up')
                    a.product-btn(href='#')
                      +gel-svg.product-btn__svg
                      p.product-btn__text
                        |Эпиген Интим
                        br
                        |Гель
                .buy-page__map-header(data-aos='fade-up')
                  a.buy-page__map-link(href='#')
                    img.buy-page__map-logo(src='https://widget.uteka.ru/static/img/widgets/logo-light.svg')
                  p.buy-page__map-text
                    |Выберите аптеку и сделайте заказ
                .buy-page__map(data-aos='fade-up')
                  //- img(src="assets/images/map.jpg", alt="")
                  iframe.buy-page__map-iframe(allow="geolocation" src="https://widget.uteka.ru/widgets/full/?productId=99949")
                .buy-page__partners
                  ul.buy-page__partners-list
                    each partner in ['ozon', 'yandex-market', 'wildberries', 'zdravcity', 'apteka', 'sberapteka']
                      li.buy-page__partners-item(data-aos='fade-up')
                        a.buy-page__partners-card(href="#")
                          img.buy-page__partners-img(src='assets/images/' + partner + '.jpg', alt="")
                h2.buy-page__section-title.margin-top(data-aos='fade-up')
                  |Подпишитесь на рассылку и узнавайте об акциях и спецпредложениях интернет-аптек на продукцию Эпиген
                .form-container.margin-top.margin-top--md
                  .form-container__row(data-aos='fade-up')
                    .form-container__col
                      h3.form-container__title
                        |Подписаться на обновления
                    .form-container__col
                      form.form.form--follow(action="/")
                        .form__row
                          label.form__item
                            input.form__input(type="text" name="name")
                            span.form__placeholder
                              |Имя
                          label.form__item
                            input.form__input(type="email" name="email")
                            span.form__placeholder
                              |E-mail
                        .form__row
                          .form__item.form__item--m
                            .checkbox
                              label.checkbox__label(for="checkbox")
                                input.checkbox__input(type="checkbox" id="checkbox")
                                .checkbox__box
                                  +check-svg.checkbox__icon
                                .checkbox__text
                                  |Согласен на обработку персональных данных в соответствии с #[a.checkbox__link(href="#") политикой конфиденциальности]
                          .form__item.form__item--m
                            .form__button
                              button.button.button--wide(type='submit')
                                |Отправить
                .buy-page__warning.margin-top
                  p.buy-page__warning-text(data-aos='fade-up')
                    |Данные о наличии, ценах на товар, порядке и условиях приобретения предоставляются аптечной организацией, которая несет ответственность за достоверность информации. Владелец сайта не несет ответственности за содержание публикуемых прайс-листов аптек, информации, предоставленной на сайте аптечной организации, а также за ее действия. Информация на сайте не должна быть истолкована как призыв к неспециалистам самостоятельно приобретать или использовать описываемые товары. Информация предоставлена исключительно в информационных целях.

            +footer.page__footer
  .modal(data-modal='3')
    .modal-test
      .modal-test__container
        .test
          form.test__container(action="/")
            .test__row
              .test__col
                ul.test__questions
                  each item, index in ['Какие проявления в интимной зоне вас беспокоят?', '2', '3', '4', '5']
                    li.test__question(class = ((index === 0) ? 'test__question--active' : ''))
                      |!{item}
                ul.test__dots
                  - for (i = 0; i < 5; i++)
                    li.test__dot(class = ((i === 0) ? 'test__dot--active' : ''))
              .test__col
                - for (i = 0; i < 5; i++)
                  .test__options(class = ((i === 0) ? 'test__options--active' : ''))
                    each item in ['Обильные выделения без неприятного запаха', 'Выделения с неприятным запахом', 'Болезненные пузырьки в интимной зоне, превращающиеся в язвы', 'Безболезненные папилломы, узелки, наросты или бородавки в интимной зоне', 'Что-то другое, не указанное выше']
                      label.test__label(for="#")
                        input.test__radio(type="radio" name='question-' + (i + 1))
                        .test__icon
                          +check-svg
                        .test__text
                          |#{item}
            .test__index
              |1
          .test__result
            .test__result-container
              .test__result-row
                .test__result-col
                  .test__result-caption
                    |возможный диагноз
                  h3.test__result-title
                    |Бактериальный вагиноз
                  p.test__result-text
                    |Неприятный запах выделений из половых путей часто сопровождает бактериальный вагиноз. Для уточнения диагноза и исключения инфекций, передаваемых половым путем, необходимо обратиться к врачу и сдать дополнительные анализы, без них разобраться в проблеме будет сложно.
                  .test__result-label
                    .link-text.link-text--s
                      |Для повышения эффективности лечения попробуйте спрей #[a.link-text__link(href='#') Эпиген Интим] . Он обладает противовоспалительным и местным иммуностимулирующим эффектом.
                .test__result-col
                  .test__form
                    .test__form-wrapper
                      h4.test__form-title
                        |Для получения результатов теста укажите E&#8209;mail
                      form.form(action='/')
                        .test__form-item
                          label.form__item
                            input.form__input(type="text" name="email")
                            span.form__placeholder
                              |E-mail
                        .test__form-item
                          button.button.button--wide.btn-animation(type='submit')
                            span.btn-animation__text
                              |Отправить результаты теста на почту
                    .test__form-response
                      |Результат отправлен на почту#[br]
                      span.test__form-email
      .modal-test__button
        .button-close.btn-animation.btn-animation--icon(data-button='3')
          +cross-svg.button-close__svg



