extends ../layouts/master.pug

include ../components/copyright-link.pug
include ../components/footer.pug
include ../components/accordion.pug
include ../components/modals.pug

//- block cookies
block grid-test

block content
  .page-consultation
    .container
      .row
        .row__col.row__col--aside.row__col--rail
          .aside
            .aside__inner
              .aside__container
                .aside__top.modal(data-modal='4')
                  header.header(data-aos='fade-up')
                    a.header__logo(href='#')
                      +logo-svg.header__logo-svg
                    .header__menu(data-button='4')
                      .header__text
                        |Меню
                      .header__button
                        .header__burger
                          span.header__burger-span
                  +modal-aside
                .aside__bottom(data-aos='fade-up')
                  +copyright-link(href='#')
                    |Компания «Инвар», 2021
        .row__col.row__col--main
          .page
            header.page__header
              .panel
                .panel__panel
                  .panel__row
                    .panel__col(data-aos='fade-up')
                      .panel__inner
                        .panel__product
                          //- .panel__product-item--active
                          a.panel__product-item(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__wrapper(data-aos='fade-up')
                      .panel__wrapper-row
                        .panel__wrapper-col
                          .panel__inner
                            a.panel__where-buy(href='#')
                              |Где купить
                            .panel__choice
                              .panel__choice-item(data-count=8 data-modal-button='3')
                                |Симптомы
                              .panel__choice-item(data-count=12 data-modal-button='2')
                                |Заболевания
                        .panel__wrapper-col
                          .panel__inner
                            .panel__test(data-button='3')
                              +calendar-test-svg.panel__test-icon
                              .panel__test-text
                                |Пройти тест
                            a.panel__consultation(href="consultation.html") 
                              +consultation-svg.panel__consultation-svg
                              .panel__consultation-text
                                |Консультация эксперта
                      .panel__modals
                        +modal-header
                  .panel__mobile
                    header.header(data-aos='fade-up')
                      a.header__logo(href="#")
                        +logo-svg.header__svg
                      .header__menu(data-modal-button='1')
                        .header__button
                          .header__burger
                            span.header__burger-span
                  .panel__modals
                    +modal-mobile
            main.page__main
              h1.title(data-aos='fade-up')
                |Консультация эксперта
              .rail.rail--margin-bottom--large
              section.row.row--in-main--desc
                .row__col
                  p.page-consultation__text.page-consultation__text--desc--default.max-width.max-width--col--9(data-aos='fade-up')
                    |Вы можете задать вопросы по применению линии средств Эпиген Интим, а также уточнить интересующие вас моменты по проблемам интимного здоровья и вагинальных инфекций.
                .row__col
                  p.page-consultation__text.page-consultation__text--desc--mini(data-aos='fade-up')
                    |Внимание! Консультация на сайте не исключает очного визита к врачу. Только при личном осмотре, после проведения диагностических процедур и изучения результатов анализов возможно определить причину появления симптомов и назначить правильное лечение. Информация в данном разделе является исключительно ознакомительной и не может быть использована в качестве замены непосредственной консультации с врачом.
              section.page-consultation__expert
                h2.page-consultation__expert-title(data-aos='fade-up')
                  |На вопросы отвечают наши эксперты
                .page-consultation__expert-slider
                  .page-consultation__expert-layout(data-parallax='1')
                    .page-consultation__expert-bg
                  .b.b--reviews-slider-main-page
                    .b__bottom
                      each slide in [1, 2, 3, 4]
                        .b__slide
                          .b__slide-row.b__slide-row--desktop
                            .b__slide-col
                              .b__slide-img
                                img.b__img(src='assets/images/reviews-slider-1.jpeg')
                            .b__slide-col
                              .b__content
                                .b__content-row
                                  .b__content-col
                                    .b__content-top
                                      h5.b__slide-title
                                        span.b__desc-span
                                          |Сапрыкина Людмила Витальевна
                                      .b__desc
                                        span.b__desc-span
                                          |Ассистент кафедры акушерства и гинекологии ЛФ ФГБОУ ВО им. Н.И. Пирогова МЗ РФ, врач акушер-гинеколог высшей категории, к.м.н. (Москва).
                                      .b__content-wrapper
                                        p.b__review
                                          |Осуществляет консультативный прием пациентов, обращающихся по вопросам лечения воспалительных процессов женской половой сферы, занимается проблемами невынашивания беременности и бесплодия, проводит оперативное лечение пациентам.
                                    .b__content-bottom
                                      .b__content-wrapper
                                        a.button.button--reviews-slider.button--blue(href='#' data-mdl-open='')
                                          |Задать вопрос врачу
                                  .b__content-col
                                    .b__content-top
                                      .b__control
                                        .b__control-item
                                          .b.b--btn-left-right-slider.btn-animation.btn-animation--icon(data-command-slider-arrow='prev')
                                            +simple-arrow-svg.b__svg
                                        .b__control-item
                                          .b.b--btn-left-right-slider.b--right.btn-animation.btn-animation--icon(data-command-slider-arrow='next')
                                            +simple-arrow-svg.b__svg
                                    .b__content-bottom
                                      .b__preview
                                        .b__preview-counter
                                          .b__preview-wrapper
                                            span.b__preview-count
                                              |1
                                            |/4
                                        .b__preview-image
                                          img.b__preview-img(src='assets/images/reviews-slider-2.jpeg')
                          .b__slide-mobile
                            .b__slide-row
                              .b__slide-col
                                .b__slide-top
                                  .b__slide-img
                                    img.b__img(src='assets/images/reviews-slider-1.jpeg')
                                  .b__content
                                    h5.b__slide-title
                                      span.b__desc-span
                                        |Сапрыкина Людмила Витальевна
                                    .b__desc
                                      span.b__desc-span
                                        |Ассистент кафедры акушерства и гинекологии ЛФ ФГБОУ ВО им. Н.И. Пирогова МЗ РФ, врач акушер-гинеколог высшей категории, к.м.н. (Москва).
                                .b__slide-bottom
                                  p.b__review
                                    |Осуществляет консультативный прием пациентов, обращающихся по вопросам лечения воспалительных процессов женской половой сферы, занимается проблемами невынашивания беременности и бесплодия, проводит оперативное лечение пациентам.
                              .b__slide-col
                                .b__content-top
                                  .b__control
                                    .b__control-item
                                      .b.b--btn-left-right-slider.btn-animation.btn-animation--icon(data-command-slider-arrow='prev')
                                        +simple-arrow-svg.b__svg
                                    .b__control-item
                                      .b.b--btn-left-right-slider.b--right.btn-animation.btn-animation--icon(data-command-slider-arrow='next')
                                        +simple-arrow-svg.b__svg
                                .b__content-bottom
                                  a.button.button--reviews-slider.btn-animation(href='#' data-mdl-open='')
                                    span.btn-animation__text
                                      |Задать вопрос врачу
              section.page-consultation__faq(data-parallax-container='1')
                h2.title.title--small.title--margin-bottom--none(data-aos='fade-up')
                  |Найти в заданных вопросах
                form.page-consultation__search.b.b--search-consultation(action='#' method='get')
                  .b__row(data-aos='fade-up')
                    input(type='text' name='search_request' placeholder='Что вас интересует?').b__input
                    button.b__btn.btn-animation.btn-animation--icon(type="submit")
                      +search-svg.b__svg
                ul.faq-page__section-list
                  +accordion.accordion--consultation(name='Анна' date='02.05.2021' caption='Здравствуйте, 4 месяц не могу избавится от молочницы. назначают с периодичностью гексикон и пимафуцин лечение не помогает результата нет. стало только хуже выделения увеличиваются неделю назад появился зуд и жжение. Помогите.' doctor=true gel=true)
                  +accordion.accordion--consultation(name='Ольга' date='02.05.2021' caption='Подскажите могут ли эти выделения говорить о молочнице ?Или выделения на нее не похожи? Вначале были белые густые выделения с комочками,после стали желтыми .есть кислотный запах,жжения и зуда нет.' doctor=true gel=true)
                  +accordion.accordion--consultation(name='Ирина' date='02.05.2021' caption='Соответствуют ли язвы по кругу крайней плоти диагнозу молочница, который мне поставил врач-венеролог, не дождавшись результатов анализов(посевы).' doctor=true gel=true)
                  +accordion.accordion--consultation(name='Ирина' date='02.05.2021' caption='Добрый день! Скажите, пожалуйста, какой день цикла считать первым? Перед месячными молочница в последнее время постоянно, сначала,заметила, что творожистые выделения стали цвета оттаявшей мясной водицы.' doctor=true gel=true)
                  +accordion.accordion--consultation(name='Виктория' date='02.05.2021' caption='Как вылечить молочницу навсегда? Можно ли самой выбирать ОК?' doctor=true gel=true)
                  +accordion.accordion--consultation(name='Таисия' date='02.05.2021' caption='Как лечится парню когда у меня молочница а к врачу он идти не хочет?' doctor=true gel=true)
                  +accordion.accordion--consultation(name='Анастасия' date='02.05.2021' caption='Можно ли при молочнице пить кефир?' doctor=true gel=true)
                  +accordion.accordion--consultation(name='Ирина' date='02.05.2021' caption='36 лет, после тержинана для лечения хронической молочницы начались белые выделения, иногда слизистые немного. до этого ничего не беспокоило. в чем дело?' doctor=true gel=true)
                .button-show-wrapper(data-aos='fade-up')
                  .button-show
                    .button-show__icon
                      +btn-plus-svg.button-show__svg
                    .button-show__text
                      |показать еще
            +footer.page__footer
  .mdl
    .mdl__container
      .mdl__content.mdl__content--md.mdl__interactive
        .mdl__inner
          .mdl__form
            .mdl__form-container
              form.form(action="/" data-form='1')
                h3.mdl__form-title
                  |Задать вопрос врачу
                label.form__item
                  input.form__input(type="text" name="name" required='required')
                  span.form__placeholder
                    |Имя
                label.form__item
                  input.form__input(type="email" name="email" required='required')
                  span.form__placeholder
                    |E-mail
                .form__item
                  textarea.form__textarea(name="message" placeholder="Сообщение", cols="30", rows="10")
                .form__inner
                  .file
                    input.file__input(id="file" type="file" multiple)
                    .file__container
                    label.file__label(for="file")
                      .file__icon
                        +file-svg
                      .file__text
                        |Прикрепить файл
                  .checkbox
                    label.checkbox__label(for="checkbox-1")
                      input.checkbox__input(type="checkbox" id="checkbox-1" required='required')
                      .checkbox__box
                        +check-svg.checkbox__icon
                      .checkbox__text
                        |Согласен на обработку персональных данных в соответствии с #[a.checkbox__link(href="#") политикой конфиденциальности]
                .form__button
                  button.button.button--wide.btn-animation(type='submit' data-form-button='1')
                    span.btn-animation__text
                      |Отправить
              .mdl__response(data-response='1')
                h3.mdl__form-title
                  |Мы получили ваше сообщение и ответим на него в ближайшее время.
                .button.button--wide.btn-animation(data-response-button='1')
                  span.btn-animation__text
                    |Отправить еще
        .mdl__close.mdl__interactive.button-close.btn-animation.btn-animation--icon(data-button-close='1')
          +cross-svg.button-close__svg
  +modal-test