extends ../layouts/master.pug

include ../components/footer.pug
include ../components/modals.pug

block cookies
block grid-test

include ../components/block

mixin nav-page-d
  nav.nav-page-d.nav-page-d--desktop(class=attributes.class)
    ul.nav-page-d__list(data-aos='fade-up')
      -
        var items = [
          {
            href: '#',
            scroll: '#gel',
            title: 'Гель',
          },
          {
            href: '#',
            scroll: '#form',
            title: 'Форма выпуска',
          },
          {
            href: '#',
            scroll: '#features',
            title: 'Преимущества',
          },
          {
            href: '#',
            scroll: '#structure',
            title: 'Состав',
          },
          {
            href: '#',
            scroll: '#instruction',
            title: 'Инструкция',
          },
          {
            href: '#',
            scroll: '#reviews',
            title: 'Отзывы',
          },
        ]
      each item, index in items
        li.nav-page-d__item(class = ((index === 0) ? 'nav-page-d__item--active' : ''))
          a.nav-page-d__link(href=item.href data-scroll=item.scroll)
            |!{item.title}

mixin nav-page-m
  nav.nav-page-d.nav-page-d--mobile.nav-page-d--mobile--purple
    ul.nav-page-d__list(data-aos='fade-up')
      -
        var items = [
          {
            href: '#',
            scroll: '#gel',
            title: 'Гель',
          },
          {
            href: '#',
            scroll: '#form',
            title: 'Форма выпуска',
          },
          {
            href: '#',
            scroll: '#features',
            title: 'Преимущества',
          },
          {
            href: '#',
            scroll: '#structure',
            title: 'Состав',
          },
          {
            href: '#',
            scroll: '#instruction',
            title: 'Инструкция',
          },
          {
            href: '#',
            scroll: '#reviews',
            title: 'Отзывы',
          },
        ]
      each item, index in items
        li.nav-page-d__item(class = ((index === 0) ? 'nav-page-d__item--active' : ''))
          a.category-item.category-item--light-blue.category-item--background--white.nav-page-d__link(href=item.href data-scroll=item.scroll)
            |!{item.title}

mixin copyright-link
  a.copyright-link(href=attributes.href)
    .copyright-link__mark
      +copyright-svg.copyright-link__mark-svg
    .copyright-link__text
      block

block content
  .spray-page.page-gel
    .container
      .row
        .row__col.row__col--aside.row__col--rail
          .aside
            .aside__inner
              .aside__container
                .aside__top.modal(data-modal='4')
                  .header.header--margin-bottom--default(data-aos='fade-up')
                    a.header__logo(href='#')
                      +logo-svg.header__logo-svg
                    .header__menu(data-button='4')
                      .header__text
                        |Меню
                      .header__button
                        .header__burger
                          span.header__burger-span
                  +modal-aside
                  +nav-page-d.nav-page-d--purple
                .aside__bottom(data-aos='fade-up')
                  a.button.button--t.button--purple.margin-bottom.margin-bottom--m.btn-animation.btn-animation--purple(href='#')
                    span.btn-animation__text
                      |Где купить
                  +copyright-link(href='#')
                    |Компания «Инвар», 2021
        .row__col.row__col--main
          .page
            header.page__header
              .panel.panel--nav
                .panel__panel
                  .panel__row
                    .panel__col(data-aos='fade-up')
                      .panel__inner
                        .panel__product
                          //- .panel__product-item--active
                          a.panel__product-item(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple.panel__product-item--active(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__wrapper(data-aos='fade-up')
                      .panel__wrapper-row
                        .panel__wrapper-col
                          .panel__inner
                            a.panel__where-buy(href='#')
                              |Где купить
                            .panel__choice
                              .panel__choice-item(data-count=8 data-modal-button='3')
                                |Симптомы
                              .panel__choice-item(data-count=12 data-modal-button='2')
                                |Заболевания
                        .panel__wrapper-col
                          .panel__inner
                            .panel__test(data-button='3')
                              +calendar-test-svg.panel__test-icon
                              .panel__test-text
                                |Пройти тест
                            a.panel__consultation(href="consultation.html") 
                              +consultation-svg.panel__consultation-svg
                              .panel__consultation-text
                                |Консультация эксперта
                      .panel__modals
                        +modal-header
                  .panel__mobile
                    .header(data-aos='fade-up')
                      a.header__logo(href="#")
                        +logo-svg.header__svg
                      .header__menu(data-modal-button='1')
                        .header__button
                          .header__burger
                            span.header__burger-span
                    +nav-page-m
                  .panel__modals
                    +modal-mobile

            main.page__main
              section.spray-page__section
                .frame.frame--gel(data-aos='fade-up')
                  img.frame__img(src='assets/images/gel-promo.jpeg')
                  .page-gel__frame
                    ul.page-gel__frame-list
                      li.page-gel__frame-item
                        .category-item.category-item--purple.cursor.cursor--default
                          |Сделано в Испании
                    h1.page-gel__frame-title
                      |Гель
                      br
                      |Эпиген Интим
              section.page-gel__mobile
                h1.page-gel__frame-title(data-aos='fade-up')
                  |Гель Эпиген Интим
                .page-gel__mobile-wrapper(data-aos='fade-up')
                  ul.page-gel__frame-list
                    li.page-gel__frame-item
                      .category-item.category-item--purple.cursor.cursor--default
                        |Сделано в Испании
                .page-gel__mobile-button(data-aos='fade-up')
                  a.button.button--t.button--purple.btn-animation.btn-animation--purple(href='#')
                      span.btn-animation__text
                        |Где купить
              section.spray-page__section.margin-top.margin-top--l(id='gel' data-section='')
                .spray-page__section-row
                  .spray-page__section-col
                    h3.spray-page__section-title(data-aos='fade-up')
                      |Единственный гель для интимной гигиены с уникальным сочетанием двух активных компонентов — активированной глицирризиновой и&nbsp;молочной кислоты
                  .spray-page__section-col
                    p.spray-page__section-text(data-aos='fade-up')
                      |Можно использовать на любом месяце беременности. Не имеет ограничений по возрасту и полу.
              section.spray-page__section-container.margin-top.margin-top--95(id='form' data-section='')
                .spray-page__product-layout 
                  +star-svg.spray-page__product-star
                +block__slide
              section.page-gel__features(id='features' data-section='')
                .page-gel__features-layout
                  .page-gel__layout-img-1(data-parallax='1')
                    img.page-gel__features-img-1(src='assets/images/gel-features-image-1.jpeg')
                  .wave-bg 
                    +gel-features-wave-svg.page-gel__features-wave
                    .wave-bg__doctors 
                      .page-gel__layout-img-4
                        img.page-gel__features-img-4(src='assets/images/gel-features-image-4.jpg')
                      .page-gel__layout-img-5(data-parallax='4')
                        img.page-gel__features-img-5(src="assets/images/gel-features-image-5.jpg", alt="")
                      .page-gel__layout-img-6(data-parallax='4')
                        img.page-gel__features-img-6(src="assets/images/gel-features-image-6.jpg", alt="")
                  .page-gel__wave
                    +gel-wave-mobile-svg.page-gel__features-wave-mobile
                    .page-gel__wave-doctors
                      .page-gel__layout-img-4
                        img.page-gel__features-img-4(src='assets/images/gel-features-image-4.jpg')
                      .page-gel__layout-img-5(data-parallax='4')
                        img.page-gel__features-img-5(src="assets/images/gel-features-image-5.jpg", alt="")
                      .page-gel__layout-img-6(data-parallax='4')
                        img.page-gel__features-img-6(src="assets/images/gel-features-image-6.jpg", alt="")
                  +moon-svg.page-gel__features-moon
                  +star-svg.page-gel__features-star.page-gel__features-star--blue
                  +star-svg.page-gel__features-star.page-gel__features-star--purple
                ul.page-gel__features-list
                  li.page-gel__features-item(data-aos='fade-up')
                    h3.page-gel__features-title.max-width.max-width--col--13
                      |Натуральный приятный аромат и цвет
                    p.page-gel__features-text.max-width.max-width--col--7
                      |Бережно очищает интимную зону и&nbsp;обеспечивает ощущение чистоты и&nbsp;свежести в течение дня
                  li.page-gel__features-item.page-gel__features-item--side(data-parallax-container='1' data-aos='fade-up')
                    .page-gel__layout-img-2(data-parallax='2')
                      img.page-gel__features-img-2(src='assets/images/gel-features-image-2.png')
                    h3.page-gel__features-title.max-width.max-width--col--10
                      |Содержит молочную кислоту
                    p.page-gel__features-text.max-width.max-width--col--7
                      |Поддерживает физиологический pH и&nbsp;естественную микрофлору слизистых оболочек половых органов
                  li.page-gel__features-item(data-parallax-container='2' data-aos='fade-up')
                    .page-gel__layout-img-3(data-parallax='3')
                      img.page-gel__features-img-3(src='assets/images/gel-features-image-3.png')
                    h3.page-gel__features-title.max-width.max-width--col--11
                      |Активированная глицирризиновая кислота в составе
                    p.page-gel__features-text.max-width.max-width--col--8
                      |Обладает выраженными противовоспалительным и регенерирующим эффектами, способствует уменьшению дискомфорта
                  li.page-gel__features-item.page-gel__features-item--side(data-parallax-container='3' data-aos='fade-up')
                    h3.page-gel__features-title.page-gel__features-title--small.max-width.max-width--col--10
                      |Рекомендуется врачами гинекологами с заботой о женском интимном здоровье
                    p.page-gel__features-text.max-width.max-width--col--7
                      |Самый назначаемый гинекологами и&nbsp;дерматовенерологами гель для&nbsp;интимной гигиены*
                    p.page-gel__features-label
                      |*Согласно данным исследования Prindex, проводимого ООО «Ипсос Комкон» в 2018 г.
              section.page-gel__compound(data-parallax-container='4' id='structure' data-section='')
                .page-gel__compound-row
                  .page-gel__compound-col
                    h2.page-gel__compound-title(data-aos='fade-up')
                      |Состав
                  .page-gel__compound-col
                    ul.page-gel__compound-list
                      li.page-gel__compound-item(data-aos='fade-up')
                        h3.page-gel__compound-item-title
                          |Активированная глицирризиновая кислота
                        p.page-gel__compound-item-text
                          |Способствует устранению воспаления (красноты, зуда, ощущения дискомфорта), стимулирует восстановление кожных покровов и слизистой
                      li.page-gel__compound-item(data-aos='fade-up')
                        h3.page-gel__compound-item-title
                          |Молочная кислота
                        p.page-gel__compound-item-text
                          |Нормализует обычный для слизистой деликатных участков тела кислотно-щелочной баланс и микрофлору, которые защищают половые органы от инфекций и молочницы
                      li.page-gel__compound-item(data-aos='fade-up')
                        h3.page-gel__compound-item-title
                          |Глицерин
                        p.page-gel__compound-item-text
                          |Способствует увлажнению и смягчению кожных покровов и слизистой
                      li.page-gel__compound-item(data-aos='fade-up')
                        h3.page-gel__compound-item-title
                          |Фитосфингозины
                        p.page-gel__compound-item-text
                          |Обладают противовоспалительным эффектом и неспецифическими противомикробными свойствами
              section.page-gel__method.spray-page__section.margin-top.margin-top--l(id='instruction' data-section='')
                .spray-page__video.spray-page__video--gel
                  .spray-page__video-row
                    .spray-page__video-col
                      h3.spray-page__section-title.margin-botto.margin-bottom--m(data-aos='fade-up')
                        |Способ применения
                    .spray-page__video-col(data-aos='fade-up')
                      ul.page-gel__method-list
                        li.page-gel__method-item
                          .page-gel__method-item-top
                            .page-gel__method-item-image
                              img.page-gel__method-item-img(src='assets/images/method-1.jpeg')
                            h4.page-gel__method-item-title
                              |С помощью дозатора выдавить гель на руку
                          .page-gel__method-item-bottom
                            .rail.rail--small
                        li.page-gel__method-item
                          .page-gel__method-item-top
                            .page-gel__method-item-image
                              img.page-gel__method-item-img(src='assets/images/method-2.jpeg')
                            h4.page-gel__method-item-title
                              |Вспенить
                          .page-gel__method-item-bottom
                            .rail.rail--small
                        li.page-gel__method-item
                          .page-gel__method-item-top
                            .page-gel__method-item-image(data-label='18+')
                              img.page-gel__method-item-img(src='assets/images/method-3.jpeg')
                            h4.page-gel__method-item-title
                              |Использовать для интимной зоны, затем тщательно смыть
                          .page-gel__method-item-bottom
                            .rail.rail--small
              section.page-gel__reviews(id='reviews' data-section)
                .page-gel__reviews-layout
                .page-gel__reviews-row
                  h2.page-gel__reviews-title
                    |Отзывы 
                  .page-gel__reviews-btns
                    .page-gel__reviews-btns-item
                      .b.b--btn-left-right-slider.js.js--gel-reviews-btn--prev.btn-animation.btn-animation--icon
                        span.border-span
                        +simple-arrow-svg.b__svg
                    .page-gel__reviews-btns-item
                      .b.b--btn-left-right-slider.b--right.js.js--gel-reviews-btn--next.btn-animation.btn-animation--icon
                        span.border-span
                        +simple-arrow-svg.b__svg
                  .page-gel__reviews-mobile
                    a.category-item.category-item--background--none.btn-animation(href='#')
                      span.btn-animation__text
                        |Все отзывы
                .swiper-container.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max.js.js--gel-reviews-slider
                  .swiper-wrapper
                    - for (let i = 0; i < 3; i++)
                      .swiper-slide
                        .page-gel__reviews-card
                          .page-gel__reviews-card-top
                            h3.page-gel__reviews-card-title
                              |Nadine Zakharova
                            p.page-gel__reviews-card-text
                              |Купила я данное средство, прочитав изначально множество положительных отзывов на различных сайтах. Почему мой выбор пал на него? Несколько лет я пыталась найти своё средство для интимной гигиены, так как везде писали, что нельзя использовать обычный гель для душа или мыло...
                          .page-gel__reviews-card-bottom
                            a.page-gel__reviews-card-link(href='#' target='_blank')
                              .page-gel__reviews-card-container
                                img.page-gel__reviews-card-img(src="assets/images/irecommend.png", alt="")
                      .swiper-slide
                        .page-gel__reviews-card
                          .page-gel__reviews-card-top
                            h3.page-gel__reviews-card-title
                              |Nadine Zakharova
                            p.page-gel__reviews-card-text
                              |Купила я данное средство, прочитав изначально множество положительных отзывов на различных сайтах. Почему мой выбор пал на него? Несколько лет я пыталась найти своё средство для интимной гигиены, так как везде писали, что нельзя использовать обычный гель для душа или мыло...
                          .page-gel__reviews-card-bottom
                            a.page-gel__reviews-card-link(href='#' target='_blank')
                              .page-gel__reviews-card-container
                                img.page-gel__reviews-card-img.page-gel__reviews-card-img--small(src="assets/images/wildberries.png", alt="")
                      .swiper-slide
                        .page-gel__reviews-card
                          .page-gel__reviews-card-top
                            h3.page-gel__reviews-card-title
                              |Nadine Zakharova
                            p.page-gel__reviews-card-text
                              |Купила я данное средство, прочитав изначально множество положительных отзывов на различных сайтах. Почему мой выбор пал на него? Несколько лет я пыталась найти своё средство для интимной гигиены, так как везде писали, что нельзя использовать обычный гель для душа или мыло...
                          .page-gel__reviews-card-bottom
                            a.page-gel__reviews-card-link(href='#' target='_blank')
                              .page-gel__reviews-card-container
                                img.page-gel__reviews-card-img.page-gel__reviews-card-img--small(src="assets/images/ozon.png", alt="")
                .page-gel__reviews-links
                  .page-gel__reviews-links-item.spray-page__slider-desktop
                    a.category-item.category-item--background--none.btn-animation(href='#')
                      span.btn-animation__text
                        |Все отзывы
            +footer.page__footer
  +modal-consultation
  +modal-test
