extends ../layouts/master.pug

include ../components/footer.pug

block cookies
block grid-test

mixin nav-page-d
  nav.nav-page-d(class=attributes.class)
    ul.nav-page-d__list
      -
        var items = [
          {
            href: '#',
            scroll: '#gel',
            title: 'Гель',
          },
          {
            href: '#',
            scroll: '#form',
            title: 'Форма выпуска',
          },
          {
            href: '#',
            scroll: '#features',
            title: 'Преимущества',
          },
          //- {
          //-   href: '#',
          //-   scroll: '#purpose',
          //-   title: 'Назначение',
          //- },
          {
            href: '#',
            scroll: '#structure',
            title: 'Состав',
          },
          {
            href: '#',
            scroll: '#instruction',
            title: 'Инструкция',
          },
          //- {
          //-   href: '#',
          //-   scroll: '#spray',
          //-   title: 'Вопрос эксперту',
          //- },
          {
            href: '#',
            scroll: '#reviews',
            title: 'Отзывы',
          },
        ]
      each item, index in items
        li.nav-page-d__item(class = ((index === 0) ? 'nav-page-d__item--active' : ''))
          a.nav-page-d__link(href=item.href data-scroll=item.scroll)
            |!{item.title}

mixin nav-page-m
  nav.nav-page-d.nav-page-d--mobile.nav-page-d--mobile--purple
    ul.nav-page-d__list
      -
        var items = [
          {
            href: '#',
            scroll: '#gel',
            title: 'Гель',
          },
          {
            href: '#',
            scroll: '#form',
            title: 'Форма выпуска',
          },
          {
            href: '#',
            scroll: '#features',
            title: 'Преимущества',
          },
          //- {
          //-   href: '#',
          //-   scroll: '#purpose',
          //-   title: 'Назначение',
          //- },
          {
            href: '#',
            scroll: '#structure',
            title: 'Состав',
          },
          {
            href: '#',
            scroll: '#instruction',
            title: 'Инструкция',
          },
          //- {
          //-   href: '#',
          //-   scroll: '#spray',
          //-   title: 'Вопрос эксперту',
          //- },
          {
            href: '#',
            scroll: '#reviews',
            title: 'Отзывы',
          },
        ]
      each item, index in items
        li.nav-page-d__item(class = ((index === 0) ? 'nav-page-d__item--active' : ''))
          a.category-item.category-item--light-blue.category-item--background--white(href=item.href data-scroll=item.scroll)
            |!{item.title}

mixin copyright-link
  a.copyright-link(href=attributes.href)
    .copyright-link__mark
      +copyright-svg.copyright-link__mark-svg
    .copyright-link__text
      block

block content
  .spray-page.page-gel
    .container
      .row
        .row__col.row__col--aside.row__col--rail
          .aside
            .aside__inner
              .aside__container
                .aside__top.modal(data-modal='4')
                  header.header.header--margin-bottom--default
                    a.header__logo(href='#')
                      +logo-svg.header__logo-svg
                    .header__menu(data-button='4')
                      .header__text
                        |Меню
                      .header__button
                        .header__burger
                  .modal-aside
                    .modal-aside__container
                      .modal-aside__row
                        .modal-aside__col
                          nav.modal-aside__nav
                            ul.modal-aside__nav-list
                              .modal-aside__nav-col
                                each item in ['Где купить', 'Вопрос эксперту', 'Отзывы Спрей Эпиген ', 'Отзывы Гель Эпиген ',]
                                  li.modal-aside__nav-item
                                    a.modal-aside__nav-link(href="#")
                                      |#{item}
                              .modal-aside__nav-col
                                each item in ['Видео с экспертами', 'Статьи экспертов', 'Вопрос-ответ', 'Специалистам',]
                                  li.modal-aside__nav-item
                                    a.modal-aside__nav-link(href="#")
                                      |#{item}
                          .modal-aside__corp
                            span
                              |Сделано в&nbsp;
                            a.modal-aside__corp-link(href="#")
                              |CloudMill
                        .modal-aside__col
                          .modal-aside__col-item
                            +product-link.product-link--modal--aside(src='assets/images/spray.jpeg')
                              |Спрей
                            .modal-aside__doc
                              a.modal-aside__doc-link(href="#")
                                |Политика конфиденциальности
                          .modal-aside__col-item
                            +product-link.product-link--modal--aside.product-link--purple(src='assets/images/gel.jpeg')
                              |Гель
                            .modal-aside__doc
                              a.modal-aside__doc-link(href="#")
                                |Положение о пользовании сайтом
                  +nav-page-d.nav-page-d--purple
                .aside__bottom
                  a.button.button--t.button--purple.margin-bottom.margin-bottom--m(href='#')
                    |Где купить
                  +copyright-link(href='#')
                    |Компания «Инвар», 2021
        .row__col.row__col--main
          .page
            header.page__header
              .panel.panel--nav
                .panel__panel
                  .panel__row
                    .panel__col
                      .panel__inner
                        .panel__product
                          //- .panel__product-item--active
                          a.panel__product-item(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__wrapper
                      .panel__wrapper-row
                        .panel__wrapper-col
                          .panel__inner
                            a.panel__where-buy(href='#')
                              |Где купить
                            .panel__choice
                              .panel__choice-item(data-count=8 data-modal-button='3')
                                |Симптомы
                              .panel__choice-item(data-count=12 data-modal-button='2')
                                |Заболевания
                        .panel__wrapper-col
                          .panel__inner
                            .panel__test(data-button='3')
                              +calendar-test-svg.panel__test-icon
                              .panel__test-text
                                |Пройти тест
                            .panel__consultation
                              +consultation-svg.panel__consultation-svg
                              .panel__consultation-text
                                |Консультация эксперта
                      .panel__modals
                        .panel-modal(data-modal-id='2')
                          .panel-modal__container
                            .panel-modal__row
                              .panel-modal__col
                                ul.panel-modal__list
                                  each item in ['Генитальный герпес (I и II типа)', 'ВПЧ', 'Применение при беременности', 'Молочница', 'Бактериальный вагиноз',]
                                    li.panel-modal__item
                                      a.panel-modal__link(href="#")
                                        |#{item}
                              .panel-modal__col
                                ul.panel-modal__list
                                  each item in ['ВПЧ', 'Молочница',]
                                    li.panel-modal__item
                                      a.panel-modal__link(href="#")
                                        |#{item}
                        .panel-modal(data-modal-id='3')
                          .panel-modal__container
                            .panel-modal__row
                              .panel-modal__col
                                ul.panel-modal__list
                                  each item in ['Зуд', 'Жжение', 'Выделения, пузырьки', 'Пузырьки, язвочки', 'Болезненность, выделения',]
                                    li.panel-modal__item
                                      a.panel-modal__link(href="#")
                                        |#{item}
                              .panel-modal__col
                                ul.panel-modal__list
                                  each item in ['Болезненность при половом контакте', 'Боль внизу живота', 'Боль при мочеиспускании']
                                    li.panel-modal__item
                                      a.panel-modal__link(href="#")
                                        |#{item}
                  .panel__mobile
                    header.header
                      a.header__logo(href="#")
                        +logo-svg.header__svg
                      .header__menu(data-modal-button='1')
                        .header__button
                          .header__burger
                    +nav-page-m
                  .panel__modals
                    .modal-mobile.modal-mobile--height--100vh-60p(data-modal-id='1')
                      .modal-mobile__inner
                        .modal-mobile__container
                          .modal-mobile__products
                            .modal-mobile__products-item
                              +product-link.product-link--modal--mobile(src='assets/images/spray.jpeg')
                                |Спрей
                            .modal-mobile__products-item
                              +product-link.product-link--modal--mobile.product-link--purple(src='assets/images/gel.jpeg')
                                |Гель
                        .panel.panel--modal
                          .panel__choice
                            .modal-mobile__choice
                              .modal-mobile__choice-button
                                .panel__choice-item(data-count='8')
                                  |Симптомы
                                +spoiler-arrow-svg.modal-mobile__choice-svg
                              .modal-mobile__choice-dropdown
                            .modal-mobile__choice
                              .modal-mobile__choice-button
                                .panel__choice-item(data-count='12')
                                  |Заболевания
                                +spoiler-arrow-svg.modal-mobile__choice-svg
                              .modal-mobile__choice-dropdown
                          .modal-mobile__links
                            .modal-mobile__container
                              ul.modal-mobile__links-list
                                li.modal-mobile__links-item
                                  a.panel__test(href="#")
                                    +calendar-test-svg.panel__test-icon
                                    .panel__test-text
                                      |Пройти тест
                                li.modal-mobile__links-item
                                  a.panel__consultation(href="#")
                                    +consultation-svg.panel__consultation-svg
                                    .panel__consultation-text
                                      |Консультация эксперта
                                each item in ['Где купить', 'Вопрос эксперту', 'Отзывы Спрей Эпиген ', 'Отзывы Гель Эпиген ', 'Видео с экспертами', 'Статьи экспертов', 'Вопрос-ответ', 'Специалистам',]
                                  li.modal-mobile__links-item
                                    a.modal-mobile__links-link(href="#")
                                      |#{item}
                        .modal-mobile__bottom
                          .modal-mobile__container
                            ul.modal-mobile__bottom-links
                              li.modal-mobile__bottom-item
                                a.modal-mobile__bottom-doc(href="#")
                                  |Политика конфиденциальности
                              li.modal-mobile__bottom-item
                                a.modal-mobile__bottom-doc(href="#")
                                  |Положение о пользовании сайтом
                              li.modal-mobile__bottom-item
                                .modal-mobile__bottom-text
                                  span
                                    |Сделано в&nbsp;
                                  a.modal-mobile__bottom-link(href="#")
                                    |CloudMill

            main.page__main
              section.spray-page__section
                .frame.frame--gel
                  img.frame__img(src='assets/images/gel-promo.jpeg')
                  .page-gel__frame
                    ul.page-gel__frame-list
                      li.page-gel__frame-item
                        .category-item.category-item--purple.cursor.cursor--default
                          |Сделано в Испании
                    h1.page-gel__frame-title
                      |Гель
                      br
                      |Эпиген Интим
              section.page-gel__mobile
                h1.page-gel__frame-title
                  |Гель Эпиген Интим
                .page-gel__mobile-wrapper
                  ul.page-gel__frame-list
                    li.page-gel__frame-item
                      .category-item.category-item--purple.cursor.cursor--default
                        |Сделано в Испании
                .page-gel__mobile-button
                  a.button.button--t.button--purple(href='#')
                      |Где купить
              section.spray-page__section.margin-top.margin-top--l(id='gel' data-section='')
                .spray-page__section-row
                  .spray-page__section-col
                    h3.spray-page__section-title
                      |Единственный гель для интимной гигиены с уникальным сочетанием двух активных компонентов — активированной глицирризиновой и&nbsp;молочной кислоты
                  .spray-page__section-col
                    p.spray-page__section-text
                      |Можно использовать на любом месяце беременности. Не имеет ограничений по возрасту и полу.
              section.spray-page__section.margin-top.margin-top--95(id='form' data-section='')
                .product-slider
                  .product-slider__slide.product-slider__slide--front
                    .product-slider__content
                      .product-slider__layout.product-slider__layout--250
                      .product-slider__top
                        ul.product-slider__btns
                          li.product-slider__btns-item.product-slider__btns-item--width--200
                            .spray-page__tabs-item.spray-page__tabs-item--purple.spray-page__tabs-item--active(data-tab='1')
                              .spray-page__tabs-container
                                .spray-page__tabs-row
                                  .spray-page__tabs-col
                                    +spray-svg.spray-page__tabs-icon
                                  .spray-page__tabs-col
                                    .spray-page__tabs-num
                                      |250
                        ul.product-slider__list.product-slider__list--purple
                          li.product-slider__list-item
                            |Один флакон расчитан на 3 месяца использования
                          li.product-slider__list-item
                            |Для ежедневной интимной гигиены
                          li.product-slider__list-item
                            |Во время беременности
                          li.product-slider__list-item
                            |В период лечения гинекологических и урологических заболеваний
                      .product-slider__bottom
                        .product-slider__counter
                          .product-slider__counter-top
                            .product-slider__counter-text.product-slider__counter-text--uppercase
                              |до
                          .product-slider__counter-bottom
                            .product-slider__counter-count
                              .product-slider__counter-text.product-slider__counter-text--large
                                |220
                            .product-slider__counter-amount
                              .product-slider__counter-text.product-slider__counter-text--uppercase
                                |доз
              section.page-gel__features(id='features' data-section='')
                .page-gel__features-layout
                  .page-gel__layout-img-1(data-parallax='1')
                    img.page-gel__features-img-1(src='assets/images/gel-features-image-1.jpeg')
                  +gel-features-wave-svg.page-gel__features-wave
                  +gel-wave-mobile-svg.page-gel__features-wave-mobile
                  +moon-svg.page-gel__features-moon
                  +star-svg.page-gel__features-star.page-gel__features-star--blue
                  +star-svg.page-gel__features-star.page-gel__features-star--purple
                ul.page-gel__features-list
                  li.page-gel__features-item
                    h3.page-gel__features-title.max-width.max-width--col--13
                      |Натуральный приятный аромат и цвет
                    p.page-gel__features-text.max-width.max-width--col--7
                      |Бережно очищает интимную зону и&nbsp;обеспечивает ощущение чистоты и&nbsp;свежести в течение дня
                  li.page-gel__features-item.page-gel__features-item--side(data-parallax-container='1')
                    .page-gel__layout-img-2(data-parallax='2')
                      img.page-gel__features-img-2(src='assets/images/gel-features-image-2.png')
                    h3.page-gel__features-title.max-width.max-width--col--10
                      |Содержит молочную кислоту
                    p.page-gel__features-text.max-width.max-width--col--7
                      |Поддерживает физиологический pH и&nbsp;естественную микрофлору слизистых оболочек половых органов
                  li.page-gel__features-item(data-parallax-container='2')
                    .page-gel__layout-img-3(data-parallax='3')
                      img.page-gel__features-img-3(src='assets/images/gel-features-image-3.png')
                    h3.page-gel__features-title.max-width.max-width--col--11
                      |Активированная глицирризиновая кислота в составе
                    p.page-gel__features-text.max-width.max-width--col--8
                      |Обладает выраженными противовоспалительным и регенерирующим эффектами, способствует уменьшению дискомфорта
                  li.page-gel__features-item.page-gel__features-item--side(data-parallax-container='3')
                    .page-gel__layout-img-4
                      img.page-gel__features-img-4(src='assets/images/gel-features-image-4.jpg')
                    .page-gel__layout-img-5(data-parallax='4')
                      img.page-gel__features-img-5(src="assets/images/gel-features-image-5.jpg", alt="")
                    .page-gel__layout-img-6(data-parallax='4')
                      img.page-gel__features-img-6(src="assets/images/gel-features-image-6.jpg", alt="")
                    h3.page-gel__features-title.page-gel__features-title--small.max-width.max-width--col--10
                      |Рекомендуется врачами гинекологами с заботой о женском интимном здоровье
                    p.page-gel__features-text.max-width.max-width--col--7
                      |Самый назначаемый гинекологами и&nbsp;дерматовенерологами гель для&nbsp;интимной гигиены*
              section.page-gel__compound(data-parallax-container='4' id='structure' data-section='')
                .page-gel__compound-row
                  .page-gel__compound-col
                    h2.page-gel__compound-title
                      |Состав
                  .page-gel__compound-col
                    ul.page-gel__compound-list
                      li.page-gel__compound-item
                        h3.page-gel__compound-item-title
                          |Активированная глицирризиновая кислота
                        p.page-gel__compound-item-text
                          |Способствует устранению воспаления (красноты, зуда, ощущения дискомфорта), стимулирует восстановление кожных покровов и слизистой
                      li.page-gel__compound-item
                        h3.page-gel__compound-item-title
                          |Молочная кислота
                        p.page-gel__compound-item-text
                          |Нормализует обычный для слизистой деликатных участков тела кислотно-щелочной баланс и микрофлору, которые защищают половые органы от инфекций и молочницы
                      li.page-gel__compound-item
                        h3.page-gel__compound-item-title
                          |Глицерин
                        p.page-gel__compound-item-text
                          |Способствует увлажнению и смягчению кожных покровов и слизистой
                      li.page-gel__compound-item
                        h3.page-gel__compound-item-title
                          |Фитосфингозины
                        p.page-gel__compound-item-text
                          |Обладают противовоспалительным эффектом и неспецифическими противомикробными свойствами
              section.page-gel__method.spray-page__section.margin-top.margin-top--l(id='instruction' data-section='')
                .spray-page__video
                  .spray-page__video-row
                    .spray-page__video-col
                      h3.spray-page__section-title.margin-botto.margin-bottom--m
                        |Способ применения
                      .spray-page__video-button
                        a.download-link.download-link--default(href="#")
                          .download-link__icon
                            +download-svg
                          .download-link__text
                            |Скачать инструкцию
                    .spray-page__video-col
                      ul.page-gel__method-list
                        li.page-gel__method-item
                          .page-gel__method-item-top
                            .page-gel__method-item-image
                              img.page-gel__method-item-img(src='assets/images/method-1.jpeg')
                            h4.page-gel__method-item-title
                              |С помощью дозатора выдавить гель на руку
                          .page-gel__method-item-bottom
                            .rail.rail--small
                        li.page-gel__method-item
                          .page-gel__method-item-top
                            .page-gel__method-item-image
                              img.page-gel__method-item-img(src='assets/images/method-2.jpeg')
                            h4.page-gel__method-item-title
                              |Вспенить
                          .page-gel__method-item-bottom
                            .rail.rail--small
                        li.page-gel__method-item
                          .page-gel__method-item-top
                            .page-gel__method-item-image(data-label='18+')
                              img.page-gel__method-item-img(src='assets/images/method-3.jpeg')
                            h4.page-gel__method-item-title
                              |Использовать для интимной зоны, затем тщательно смыть
                          .page-gel__method-item-bottom
                            .rail.rail--small
              section.page-gel__reviews(id='reviews' data-section='')
                .page-gel__reviews-layout
                .page-gel__reviews-top
                  .page-gel__reviews-left
                    h2.page-gel__reviews-title
                      |Отзывы
                    .page-gel__reviews-btns
                      .page-gel__reviews-btns-item
                        .b.b--btn-left-right-slider.js.js--gel-reviews-btn--prev
                          +simple-arrow-svg.b__svg
                      .page-gel__reviews-btns-item
                        .b.b--btn-left-right-slider.b--right.js.js--gel-reviews-btn--next
                          +simple-arrow-svg.b__svg
                  .page-gel__reviews-right
                    .page-gel__reviews-links
                      .page-gel__reviews-links-item
                        a.category-item.category-item--background--none(href='#')
                          |Все отзывы
                      .page-gel__reviews-links-item
                        a.category-item.category-item--background--none(href='#')
                          |Задать вопрос врачу
                .swiper-container.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max.js.js--gel-reviews-slider
                  .swiper-wrapper
                    - for (let i = 0; i < 10; i++)
                      .swiper-slide
                        .page-gel__reviews-card
                          .page-gel__reviews-card-top
                            h3.page-gel__reviews-card-title
                              |Nadine Zakharova
                            p.page-gel__reviews-card-text
                              |Купила я данное средство, прочитав изначально множество положительных отзывов на различных сайтах. Почему мой выбор пал на него? Несколько лет я пыталась найти своё средство для интимной гигиены, так как везде писали, что нельзя использовать обычный гель для душа или мыло...
                          .page-gel__reviews-card-bottom
                            a.page-gel__reviews-card-link(href='#')
                              |irecommend.ru
            +footer.page__footer
