extends ../layouts/master.pug

include ../components/footer.pug
include ../components/loader.pug
include ../components/modals.pug

//- block cookies
block grid-test

mixin nav-page-d
  nav.nav-page-d.nav-page-d--desktop(data-aos='fade-up')
    ul.nav-page-d__list
      -
        var items = [
          {
            href: '#',
            scroll: '#products',
            title: 'Продукция Эпиген Интим',
          },
          {
            href: '#',
            scroll: '#expert',
            title: 'Экспертное мнение',
          },
          {
            href: '#',
            scroll: '#actual',
            title: 'Актуальное',
          },
          {
            href: '#',
            scroll: '#reviews',
            title: 'Отзывы',
          },
        ]
      each item, index in items
        li.nav-page-d__item(class = ((index === 0) ? 'nav-page-d__item--active' : ''))
          a.nav-page-d__link(href=item.href data-scroll=item.scroll)
            |!{item.title}

mixin nav-page-m
  nav.nav-page-d.nav-page-d--mobile
    ul.nav-page-d__list(data-aos='fade-up')
      -
        var items = [
          {
            href: '#',
            scroll: '#products',
            title: 'Продукция Эпиген Интим',
          },
          {
            href: '#',
            scroll: '#expert',
            title: 'Экспертное мнение',
          },
          {
            href: '#',
            scroll: '#actual',
            title: 'Актуальное',
          },
          {
            href: '#',
            scroll: '#reviews',
            title: 'Отзывы',
          },
        ]
      each item, index in items
        li.nav-page-d__item(class = ((index === 0) ? 'nav-page-d__item--active' : ''))
          a.category-item.category-item--light-blue.category-item--background--white.nav-page-d__link(href=item.href data-scroll=item.scroll)
            |!{item.title}

mixin copyright-link
  a.copyright-link(href=attributes.href)
    .copyright-link__mark
      +copyright-svg.copyright-link__mark-svg
    .copyright-link__text
      block

block loader
  +loader

block content
  .main-page
    .container
      .row
        .row__col.row__col--aside.row__col--rail
          .aside
            .aside__inner
              .aside__container
                .aside__top.modal(data-modal='4')
                  header.header.header--margin-bottom--default(data-aos='fade-up')
                    a.header__logo(href='#')
                      +logo-svg.header__logo-svg
                    .header__menu(data-button='4')
                      .header__text
                        |Меню
                      .header__button
                        .header__burger
                  +modal-aside
                  +nav-page-d
                .aside__bottom(data-aos='fade-up' data-aos-delay='200')
                  .aside__text.aside__text--margin-bottom--default
                    |Эпиген Интим — линия средств для женского интимного здоровья на основе активированной глицирризиновой кислоты из экстракта корня солодки
                  +copyright-link(href='#')
                    |Компания «Инвар», 2021
        .row__col.row__col--main
          .wwave(data-aos='fade-up' data-aos-delay="800")
            canvas.wwave__canvas(width = 0, height = 0)
            .wwave__star
              +star-svg.wwave__svg
          .page
            header.page__header
              .panel.panel--nav
                .panel__panel
                  .panel__row
                    .panel__col(data-aos='fade-up')
                      .panel__inner
                        .panel__product
                          //- .panel__product-item--active
                          a.panel__product-item(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__wrapper(data-aos='fade-up')
                      .panel__wrapper-row
                        .panel__wrapper-col
                          .panel__inner
                            a.panel__where-buy(href='#')
                              |Где купить
                            .panel__choice
                              .panel__choice-item(data-count=8 data-modal-button='3')
                                |Симптомы
                              .panel__choice-item(data-count=12 data-modal-button='2')
                                |Заболевания
                        .panel__wrapper-col
                          .panel__inner
                            .panel__test(data-button='3')
                              +calendar-test-svg.panel__test-icon
                              .panel__test-text
                                |Пройти тест
                            .panel__consultation(data-button='6')
                              +consultation-svg.panel__consultation-svg
                              .panel__consultation-text
                                |Консультация эксперта
                      .panel__modals
                        +modal-header
                  .panel__mobile(data-aos='fade-up')
                    header.header
                      a.header__logo(href="#")
                        +logo-svg.header__svg
                      .header__menu(data-modal-button='1')
                        .header__button
                          .header__burger
                    +nav-page-m
                  .panel__modals
                    +modal-mobile
            main.page__main
              .frame(data-aos='fade-up' data-aos-delay='400')
                img.frame__img(src='assets/images/frame.jpg')
                .frame__btn.frame__btn--spray.plus-btn(data-button='1')
                  .plus-btn__border
                  .plus-btn__circle.btn-animation.btn-animation--icon
                  .plus-btn__plus
                .frame__btn.frame__btn--gel.plus-btn.plus-btn--purple(data-button='2')
                  .plus-btn__border
                  .plus-btn__circle.btn-animation.btn-animation--icon.btn-animation--purple
                  .plus-btn__plus
              h1.main-page__intro-title.main-page__intro-title--m(data-aos='fade-up')
                |Эпиген Интим — линия средств для женского интимного здоровья на основе активированной глицирризиновой кислоты из экстракта корня солодки
              h1.main-page__intro-title.main-page__intro-title--s(data-aos='fade-up')
                span.main-page__intro-span
                  |Эпиген Интим —
                br
                |линия средств для женского интимного здоровья

              ul.main-page__features(id='products' data-section='')
                li.main-page__features-item(data-aos='fade-up')
                  .main-page__features-text
                    |Произведено в Испании
                li.main-page__features-item(data-aos='fade-up')
                  .main-page__features-text
                    |Оригинальное средство, не имеющее аналогов на российском рынке
                li.main-page__features-item(data-aos='fade-up')
                  .main-page__features-text
                    |Рекомендуется гинекологами с заботой о женском здоровье
                li.main-page__features-item(data-aos='fade-up')
                  .main-page__features-text
                    |Более 20 лет в России
              .main-page__expert(id='expert' data-section='')
                h3.main-page__title(data-aos='fade-up')
                  |Делимся экспертизой
                p.link-text.main-page__expert-text.main-page__expert-text--xs(data-aos='fade-up')
                  |Вы всегда можете задать вопрос нашим экспертам в #[a.link-text__link.btn-animation(href='#') #[span.btn-animation__text специальном разделе]] или найти ответы в наших #[a.link-text__link.btn-animation(href='#') #[span.btn-animation__text статьях]] и #[a.link-text__link.btn-animation(href='#') #[span.btn-animation__text видео-публикациях]]
                p.link-text.main-page__expert-text.main-page__expert-text--mobile(data-aos='fade-up')
                  |Вы всегда можете задать вопрос#[br]нашим экспертам в #[a.link-text__link.btn-animation(href='#') #[span.btn-animation__text специальном]]#[br]#[span.link-text__span #[a.link-text__link.btn-animation(href='#') #[span.btn-animation__text разделе]] или найти ответы в наших]#[br]#[a.link-text__link.btn-animation(href='#') #[span.btn-animation__text статьях]] и #[a.link-text__link.btn-animation(href='#') #[span.btn-animation__text видео-публикациях]]
                p.link-text.main-page__expert-text.main-page__expert-text--desktop(data-aos='fade-up')
                  |Вы всегда можете задать вопрос нашим#[br]экспертам в #[a.link-text__link.btn-animation(href='#') #[span.btn-animation__text специальном разделе]]#[br]или найти ответы в наших #[a.link-text__link.btn-animation(href='#') #[span.btn-animation__text статьях]]#[br]и #[a.link-text__link.btn-animation(href='#') #[span.btn-animation__text видео-публикациях]]
                img.main-page__expert-img(src='assets/images/main-expert.jpeg' data-aos='fade-up')
                .main-page__expert-wave(data-aos='fade-up')
                  +wave-expert-svg.main-page__expert-svg
                  .main-page__layout-moon(data-parallax-main='left')
                    +moon-svg.main-page__expert-moon
                  .main-page__layout-star(data-parallax-main='right')
                    +star-svg.main-page__expert-star
              .main-page__actual(data-parallax-container-main='' id='actual' data-section='')
                h3.main-page__title(data-aos='fade-up')
                  |актуальное
                .b.b--text-with-link-row-in-main-page
                  .b__text(data-aos='fade-up')
                    p.link-text.main-page__expert-text.main-page__expert-text--mobile
                      |Мы постянно публикуем свежие статьи о проблемах, возможном лечении и рекомендациях экспертов
                    p.link-text.main-page__expert-text.main-page__expert-text--desktop
                      |Мы постянно публикуем свежие статьи#[br]о проблемах, возможном лечении#[br]и рекомендациях экспертов
                  .b__link(data-aos='fade-up')
                    a.b.b--border-link.b--border-link--desktop.btn-animation(href='#')
                      span.btn-animation__text
                        |Все статьи
                .b.b--carousel-slider-desktop.b--carousel-slider-desktop-margin-top-in-main-page(data-aos='fade-up')
                  .b__bottom
                    .b__buttons
                      .b.b--btn-left-right-slider.b--left.b__btn.b__btn--left.btn-animation.btn-animation--icon(data-slider-arrow='prev')
                        +simple-arrow-svg.b__svg
                      .b.b--btn-left-right-slider.b--right.b__btn.b__btn--right.btn-animation.btn-animation--icon(data-slider-arrow='next')
                        +simple-arrow-svg.b__svg
                    .b__row
                      .b__col
                        .b__container
                          a.b__frame.b__frame--active(href='#')
                            .b__slide
                              img.b__img(src='assets/images/carousel-1.jpeg')
                              span.b__label
                                |Клинические рекомендации
                          a.b__frame.b__frame--right(href='#')
                            .b__slide
                              img.b__img(src='assets/images/carousel-2.jpeg')
                              span.b__label
                                |Обучение
                          a.b__frame.b__frame--left(href='#')
                            .b__slide
                              img.b__img(src='assets/images/carousel-3.jpeg')
                              span.b__label
                                |Исследования
                        .b__wrapper
                          h3.b__title.b__title--active
                            span.b__span
                              |Миома матки: симптомы, лечение, профилактика
                          h3.b__title
                            span.b__span
                              |Кровотечение при миоме
                          h3.b__title
                            span.b__span
                              |Непроходимость маточных труб
                      .b__col
                        .b__container.b__container--big
                          a.b__frame.b__frame--left(href='#')
                            .b__slide
                              img.b__img(src='assets/images/carousel-1.jpeg')
                              span.b__label
                                |Клинические рекомендации
                          a.b__frame.b__frame--active(href='#')
                            .b__slide
                              img.b__img(src='assets/images/carousel-2.jpeg')
                              span.b__label
                                |Обучение
                          a.b__frame.b__frame--right(href='#')
                            .b__slide
                              img.b__img(src='assets/images/carousel-3.jpeg')
                              span.b__label
                                |Исследования
                        .b__wrapper
                          h3.b__title
                            span.b__span
                              |Миома матки: симптомы, лечение, профилактика
                          h3.b__title.b__title--active
                            span.b__span
                              |Кровотечение при миоме
                          h3.b__title
                            span.b__span
                              |Непроходимость маточных труб
                      .b__col
                        .b__container
                          a.b__frame.b__frame--right(href="#") 
                            .b__slide
                              img.b__img(src='assets/images/carousel-1.jpeg')
                              span.b__label
                                |Клинические рекомендации
                          a.b__frame.b__frame--left(href="#") 
                            .b__slide
                              img.b__img(src='assets/images/carousel-2.jpeg')
                              span.b__label
                                |Обучение
                          a.b__frame.b__frame--active(href="#") 
                            .b__slide
                              img.b__img(src='assets/images/carousel-3.jpeg')
                              span.b__label
                                |Исследования
                        .b__wrapper
                          h3.b__title
                            span.b__span
                              |Миома матки: симптомы, лечение, профилактика
                          h3.b__title
                            span.b__span
                              |Кровотечение при миоме
                          h3.b__title.b__title--active
                            span.b__span
                              |Непроходимость маточных труб
                .b.b--carousel-slider-mobile.swiper-container(data-slider-id='2' data-aos='fade-up')
                  .swiper-wrapper
                    - for (i = 0; i < 3; i++)
                      a.b__slide.swiper-slide(href="#")
                        img.b__img(src="assets/images/carousel-1.jpeg", alt="")
                        h3.b__title
                          |Миома матки: симптомы, лечение, профилактика
                        .b__label
                          |Клинические рекомендации
                      a.b__slide.swiper-slide(href="#")
                        img.b__img(src="assets/images/carousel-2.jpeg", alt="")
                        h3.b__title
                          |Кровотечение при миоме
                        .b__label
                          |Исследования
                      a.b__slide.swiper-slide(href="#")
                        img.b__img(src="assets/images/carousel-3.jpeg", alt="")
                        h3.b__title
                          |Непроходимость маточных труб
                        .b__label
                          |Исследования
                a.b.b--border-link.b--border-link--mobile.btn-animation(href='#' data-aos='fade-up')
                  span.btn-animation__text
                    |Все статьи
              .page-gel.main-page__reviews(id='reviews' data-section='')
                .page-gel__reviews.page-gel__reviews--main-page
                  .page-gel__reviews-layout
                  h3.main-page__title(data-aos='fade-up')
                    |отзывы
                  .b.b--reviews-slider-container
                    .b__top(data-aos='fade-up')
                      .b__top-row
                        .b__top-col
                          h4.b__title
                            |Использовали Эпиген Интим
                            br
                            |и остались довольны
                        .b__top-col
                          ul.product-choice.product-choice--reviews-slider--default
                            li.product-choice__item
                              .product-btn.product-btn--white.product-btn--active
                                +spray-svg.product-btn__svg
                                p.product-btn__text
                                  |Эпиген Интим
                                  br
                                  |Спрей
                            li.product-choice__item
                              .product-btn.product-btn--white
                                +gel-svg.product-btn__svg
                                p.product-btn__text
                                  |Эпиген Интим
                                  br
                                  |Гель
                    .main-page__reviews-container
                      .main-page__reviews-tabs
                        .main-page__reviews-item.main-page__reviews-item--active
                          .b.b--reviews-slider-main-page
                            .b__bottom
                              each slide in [1, 2, 3, 4]
                                .b__slide
                                  .b__slide-row.b__slide-row--desktop
                                    .b__slide-col
                                      .b__slide-img
                                        img.b__img(src='assets/images/reviews-slider-1.jpeg')
                                    .b__slide-col
                                      .b__content
                                        .b__content-row
                                          .b__content-col
                                            .b__content-top
                                              h5.b__slide-title
                                                span.b__desc-span
                                                  |Манукян Наринэ Георгиевна
                                              p.b__desc
                                                span.b__desc-span
                                                  |Врач акушер-гинеколог, гинеколог-эндокринолог, лучший врач корпорации
                                              .b__content-wrapper
                                                p.b__review
                                                  |Спрей Эпиген Интим представляет собой эффективное и безопасное средство для лечения, профилактики генитальных вирусных инфекций, а гель предназначен для интимной гигиены на каждый день...
                                            .b__content-bot
                                              .b__bottom-col
                                                .b__link(data-button='5')
                                                  |Читать отзыв
                                          .b__content-col
                                            .b__content-top
                                              .b__preview
                                                .b__preview-counter
                                                  .b__preview-wrapper
                                                    span.b__preview-count
                                                      |1
                                                    |/4
                                                .b__preview-image
                                                  img.b__preview-img(src='assets/images/reviews-slider-2.jpeg')
                                            .b__control
                                              .b__control-item
                                                .b.b--btn-left-right-slider.btn-animation.btn-animation--icon(data-command-slider-arrow='prev')
                                                  +simple-arrow-svg.b__svg
                                              .b__control-item
                                                .b.b--btn-left-right-slider.b--right.btn-animation.btn-animation--icon(data-command-slider-arrow='next')
                                                  +simple-arrow-svg.b__svg
                                        .b__bottom-row
                                          .b__bottom-col 
                                            
                                  .b__slide-mobile
                                    .b__slide-row
                                      .b__slide-col
                                        .b__slide-top
                                          .b__slide-img
                                            img.b__img(src='assets/images/reviews-slider-1.jpeg')
                                          .b__content
                                            h5.b__slide-title
                                              span.b__desc-span
                                                |Сапрыкина Людмила Витальевна
                                            .b__desc
                                              span.b__desc-span
                                                |Ассистент кафедры акушерства и гинекологии ЛФ ФГБОУ ВО им. Н.И. Пирогова МЗ РФ, врач акушер-гинеколог высшей категории, к.м.н. (Москва).
                                        .b__slide-bottom
                                          p.b__review
                                            |Спрей Эпиген Интим представляет собой эффективное и безопасное средство для лечения, профилактики генитальных вирусных инфекций, а гель предназначен для интимной гигиены на каждый день...
                                      .b__slide-col
                                        .b__content-top
                                          .b__control
                                            .b__control-item
                                              .b.b--btn-left-right-slider.btn-animation.btn-animation--icon(data-command-slider-arrow='prev')
                                                +simple-arrow-svg.b__svg
                                            .b__control-item
                                              .b.b--btn-left-right-slider.b--right.btn-animation.btn-animation--icon(data-command-slider-arrow='next')
                                                +simple-arrow-svg.b__svg
                                        .b__content-bot
                                          .b__link-link(data-aos='fade-up')
                                            .b__link(data-button='5')
                                              |Читать отзыв
                        .main-page__reviews-item
                          .swiper-container.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max.js.js--gel-reviews-slider.margin-bottom.margin-bottom--65
                            .swiper-wrapper
                              - for (let i = 0; i < 10; i++)
                                .swiper-slide
                                  .page-gel__reviews-card
                                    .page-gel__reviews-card-top
                                      h3.page-gel__reviews-card-title
                                        |Nadine Zakharova
                                      p.page-gel__reviews-card-text
                                        |Купила я данное средство, прочитав изначально множество положительных отзывов на различных сайтах. Почему мой выбор пал на него? Несколько лет я пыталась найти своё средство для интимной гигиены, так как везде писали, что нельзя использовать обычный гель для душа или мыло...
                                    .page-gel__reviews-card-bottom
                                      a.page-gel__reviews-card-link(href='#')
                                        |irecommend.ru
                          .page-gel__reviews-bottom(data-aos='fade-up')
                            .page-gel__reviews-btns
                              .page-gel__reviews-btns-item
                                .b.b--btn-left-right-slider.btn-animation.btn-animation--icon.js.js--gel-reviews-btn--prev
                                  +simple-arrow-svg.b__svg
                              .page-gel__reviews-btns-item
                                .b.b--btn-left-right-slider.b--right.btn-animation.btn-animation--icon.js.js--gel-reviews-btn--next
                                  +simple-arrow-svg.b__svg
                      .main-page__reviews-link 
                        a.button.button--reviews-slider.button--reviews-slider--small.btn-animation(href='#')
                          span.btn-animation__text
                            |Все отзывы
            +footer.page__footer
  .modal(data-modal='1')
    .modal-product
      .modal-product__container
        .modal-product__top
          img.modal-product__img(src="assets/images/spray-product.jpg", alt="")
        .modal-product__bottom
          .modal-product__bottom-container
            h3.modal-product__title
              |Спрей Эпиген Интим
            p.modal-product__text
              |Оригинальный лекарственный препарат для лечения и профилактики различных заболеваний интимной зоны
      .modal-product__button
        .button-close.btn-animation.btn-animation--icon(data-button='1')
          +cross-svg.button-close__svg
  .modal(data-modal='2')
    .modal-product
      .modal-product__container
        .modal-product__top
          img.modal-product__img(src="assets/images/gel.jpg", alt="")
        .modal-product__bottom
          .modal-product__bottom-container
            h3.modal-product__title
              |Гель Эпиген Интим
            p.modal-product__text
              |Единственный гель для интимной гигиены с уникальным сочетанием двух активных компонентов — активированной глицирризиновой и молочной кислоты
      .modal-product__button
        .button-close.btn-animation.btn-animation--icon(data-button='2')
          +cross-svg.button-close__svg
  +modal-test
  +modal-article
  +modal-consultation