extends ../layouts/master.pug

include ../components/border-link.pug
include ../components/copyright-link.pug
include ../components/review-card.pug
include ../components/footer.pug
include ../components/modals.pug

//- block cookies
block grid-test

block content
  .page-reviews.faq-page
    .container
      .row
        .row__col.row__col--aside.row__col--rail
          .aside
            .aside__inner
              .aside__container
                .aside__top.modal(data-modal='4')
                  header.header.header--margin-bottom--default(data-aos='fade-up')
                    a.header__logo(href='#')
                      +logo-svg.header__logo-svg
                    .header__menu(data-button='4')
                      .header__text
                        |Меню
                      .header__button
                        .header__burger
                  +modal-aside
                  ul.page-reviews__filter
                    li.page-reviews__filter-item(data-aos='fade-up')
                      +border-link(href='#' active)
                        |Все
                    li.page-reviews__filter-item(data-aos='fade-up')
                      +border-link(href='#')
                        |Отзывы врачей
                    li.page-reviews__filter-item(data-aos='fade-up')
                      +border-link(href='#')
                        |Отзывы покупателей
                .aside__bottom(data-aos='fade-up')
                  +copyright-link(href='#')
                    |Компания «Инвар», 2021
        .row__col.row__col--main
          .page
            header.page__header
              .panel
                .panel__panel
                  .panel__row
                    .panel__col(data-aos='fade-up')
                      .panel__inner
                        .panel__product
                          //- .panel__product-item--active
                          a.panel__product-item(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__wrapper(data-aos='fade-up')
                      .panel__wrapper-row
                        .panel__wrapper-col
                          .panel__inner
                            a.panel__where-buy(href='#')
                              |Где купить
                            .panel__choice
                              .panel__choice-item(data-count=8 data-modal-button='3')
                                |Симптомы
                              .panel__choice-item(data-count=12 data-modal-button='2')
                                |Заболевания
                        .panel__wrapper-col
                          .panel__inner
                            .panel__test(data-button='3')
                              +calendar-test-svg.panel__test-icon
                              .panel__test-text
                                |Пройти тест
                            .panel__consultation(data-mdl-open)
                              +consultation-svg.panel__consultation-svg
                              .panel__consultation-text
                                |Консультация эксперта
                      .panel__modals
                        +modal-header
                  .panel__mobile
                    header.header(data-aos='fade-up')
                      a.header__logo(href="#")
                        +logo-svg.header__svg
                      .header__menu(data-modal-button='1')
                        .header__button
                          .header__burger
                  .panel__modals
                    +modal-mobile
            main.page__main
              h1.title(data-aos='fade-up')
                |Отзывы
              .rail.rail--margin-bottom--default
              .faq-page
                .faq-page__container
                  ul.faq-page__list.faq-page__list--mobile(data-aos='fade-up')
                    li.faq-page__item
                      +border-link(href='#' active)
                        |Все
                    each link in ['Отзывы врачей', 'Отзывы покупателей',]
                      li.faq-page__item
                        +border-link(href='#')
                          |!{link}
              ul.product-choice.product-choice--margin-bottom--default
                li.product-choice__item(data-aos='fade-up')
                  a.product-btn.product-btn--active(href='#')
                    +spray-svg.product-btn__svg
                    p.product-btn__text
                      |Эпиген Интим
                      br
                      |Спрей
                li.product-choice__item(data-aos='fade-up')
                  a.product-btn(href='#')
                    +gel-svg.product-btn__svg
                    p.product-btn__text
                      |Эпиген Интим
                      br
                      |Гель
              ul.page-reviews__list
                li.page-reviews__list-item(data-aos='fade-up')
                  +review-card(source='irecommend.ru')
                li.page-reviews__list-item(data-aos='fade-up')
                  +review-card(image=2 caption='Врач акушер - гинеколог, врач УЗИ.' plus=true)
                li.page-reviews__list-item(data-aos='fade-up')
                  +review-card(image=1 caption='Врач акушер-гинеколог, гинеколог-эндокринолог, врач высшей категории, заместитель главного врача по медицинской части..' plus=true)
                li.page-reviews__list-item(data-aos='fade-up')
                  +review-card(source='wildberries.ru')
                li.page-reviews__list-item(data-aos='fade-up')
                  +review-card(image=3 caption='Врач акушер-гинеколог, гинеколог-эндокринолог, лучший врач корпорации' plus=true)
                li.page-reviews__list-item(data-aos='fade-up')
                  +review-card(image=2 caption='Врач акушер - гинеколог, врач УЗИ.' plus=true)
                li.page-reviews__list-item(data-aos='fade-up')
                  +review-card(source='irecommend.ru')
                li.page-reviews__list-item(data-aos='fade-up')
                  +review-card(image=4 caption='Акушер гинеколог, стаж 40 лет.' plus=true)
              .button-show-wrapper
                .button-show(data-aos='fade-up')
                  .button-show__icon
                    +btn-plus-svg.button-show__svg
                  .button-show__text
                    |показать еще
            +footer.page__footer
  .mdl
    .mdl__container
      .mdl__content.mdl__interactive
        .mdl__article
          .mdl__article-container
            .mdl__article-doctor
              .mdl__article-row
                .mdl__article-col
                  .mdl__article-img
                    img(src="assets/images/review-3.jpeg", alt="")
                .mdl__article-col
                  .mdl__article-name
                    |Ерёмина Марина Евгеньевна
                  .mdl__article-prof
                    |Врач акушер-гинеколог, гинеколог-эндокринолог, врач высшей категории, заместитель главного врача по медицинской части..
            .mdl__article-content
              h3
                |Мой опыт применения Эпиген Интим спрея
              .mdl__article-wrapper
                p
                  |Вирусные заболевания - частая причина обращения женщин в наше лечебное учреждение.
                p
                  |Лечение герпетической инфекции - одна из самых актуальных и сложных задач.
                p
                  |Генитальный герпес часто протекает атипично, есть трудности в диагностике этого заболевания. Выбор лекарственных средств для лечения генитального герпеса у беременных очень ограничен.
                p
                  |Эпиген Интим спрей - уникальный препарат, имеет доказанную эффективность, и безопасность, нет множества ограничений в применении, хорошо переносится, даёт быстрый результат
                p
                  |По сути, является препаратом скорой помощи, в случае вирусных инфекций может назначаться сразу после обращения пациентки к врачу ещё до получения результатов лабораторных исследований.
                p
                  |Также его применение целесообразно в профилактических целях, на долгосрочную перспективу. Это важно для профилактики рецидивирования генитальных вирусных инфекций, в том числе во время беременности и перед родами.
                p
                  |Отдельная проблема - лечение ВПЧ и ВПЧ-ассоциированные заболеваний шейки матки и влагалища. Эпиген применяю в составе комплексной противовирусной терапии, при удалении кондилом, для лучшей регенерации тканей в период восстановления, в том числе во время беременности.
                p
                  |Удобно, что есть Эпиген Интим гель, средство для интимной гигиены для повседневного использования, который дополняет назначенное лечение.
        .mdl__close.mdl__interactive.button-close.btn-animation.btn-animation--icon(data-button-close='1')
          +cross-svg.button-close__svg
  +modal-test