extends ../layouts/master.pug

include ../components/border-link.pug
include ../components/copyright-link.pug
include ../components/review-card.pug
include ../components/footer.pug

//- block cookies
block grid-test

block content
  .page-reviews.faq-page
    .container
      .row
        .row__col.row__col--aside.row__col--rail
          .aside
            .aside__inner
              .aside__container
                .aside__top
                  header.header.header--margin-bottom--default
                    a.header__logo(href='#')
                      +logo-svg.header__logo-svg
                    .header__menu
                      .header__text
                        |Меню
                      .header__button
                        .header__burger
                  ul.page-reviews__filter
                    li.page-reviews__filter-item
                      +border-link(href='#' active)
                        |Все
                    li.page-reviews__filter-item
                      +border-link(href='#')
                        |Отзывы врачей
                    li.page-reviews__filter-item
                      +border-link(href='#')
                        |Отзывы покупателей
                .aside__bottom
                  +copyright-link(href='#')
                    |Компания «Инвар», 2021
        .row__col.row__col--main
          .page
            header.page__header
              .panel
                .panel__panel
                  .panel__row
                    .panel__col
                      .panel__inner
                        .panel__product
                          //- .panel__product-item--active
                          a.panel__product-item(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__col
                      .panel__inner
                        a.panel__where-buy(href='#')
                          |Где купить
                        .panel__choice
                          .panel__choice-item(data-count=8)
                            |Симптомы
                          .panel__choice-item(data-count=12)
                            |Заболевания
                    .panel__col
                      .panel__inner
                        .panel__test
                          +calendar-test-svg.panel__test-icon
                          .panel__test-text
                            |Пройти тест
                        .panel__consultation
                          +consultation-svg.panel__consultation-svg
                          .panel__consultation-text
                            |Консультация эксперта
                  .panel__mobile
                    header.header-mobile
                      a.header-mobile__logo(href="#")
                        +logo-svg.header-mobile__icon
                      .header-mobile__button
            main.page__main
              h1.title
                |Отзывы
              .rail.rail--margin-bottom--default
              .faq-page
                ul.faq-page__list.faq-page__list--mobile
                  li.faq-page__item
                    +border-link(href='#' active)
                      |Все
                  each link in ['Состав', 'Противопоказания', 'Использование', 'Приобрести',]
                    li.faq-page__item
                      +border-link(href='#')
                        |!{link}
              ul.product-choice.product-choice--margin-bottom--default
                li.product-choice__item
                  a.product-btn.product-btn--active(href='#')
                    +spray-svg.product-btn__svg
                    p.product-btn__text
                      |Эпиген Интим
                      br
                      |Спрей
                li.product-choice__item
                  a.product-btn(href='#')
                    +gel-svg.product-btn__svg
                    p.product-btn__text
                      |Эпиген Интим
                      br
                      |Гель
              ul.page-reviews__list
                li.page-reviews__list-item
                  +review-card(source='irecommend.ru')
                li.page-reviews__list-item
                  +review-card(image=2 caption='Врач акушер - гинеколог, врач УЗИ.' plus=true)
                li.page-reviews__list-item
                  +review-card(image=1 caption='Врач акушер-гинеколог, гинеколог-эндокринолог, врач высшей категории, заместитель главного врача по медицинской части..' plus=true)
                li.page-reviews__list-item
                  +review-card(source='wildberries.ru')
                li.page-reviews__list-item
                  +review-card(image=3 caption='Врач акушер-гинеколог, гинеколог-эндокринолог, лучший врач корпорации' plus=true)
                li.page-reviews__list-item
                  +review-card(image=2 caption='Врач акушер - гинеколог, врач УЗИ.' plus=true)
                li.page-reviews__list-item
                  +review-card(source='irecommend.ru')
                li.page-reviews__list-item
                  +review-card(image=4 caption='Акушер гинеколог, стаж 40 лет.' plus=true)
              .button-show-wrapper
                .button-show
                  .button-show__icon
                    +btn-plus-svg.button-show__svg
                  .button-show__text
                    |показать еще
            +footer.page__footer
  .mdl
    .mdl__container
      .mdl__content.mdl__interactive
        .mdl__close.mdl__interactive.button-close(data-button-close='1')
          +cross-svg.button-close__svg
