extends ../layouts/master.pug

include ../components/footer.pug
include ../components/modals.pug

//- block cookies
block grid-test

mixin nav-page-d
  nav.nav-page-d.nav-page-d--desktop
    ul.nav-page-d__list(data-aos='fade-up')
      -
        var items = [
          {
            href: '#',
            scroll: '#materials',
            title: 'Материалы и методы исследования',
          },
          {
            href: '#',
            scroll: '#results',
            title: 'Результаты исследования и обсуждения',
          },
          {
            href: '#',
            scroll: '#literature',
            title: 'Литература',
          },
        ]
      each item, index in items
        li.nav-page-d__item(class = ((index === 0) ? 'nav-page-d__item--active' : ''))
          a.nav-page-d__link(href=item.href data-scroll=item.scroll)
            |!{item.title}

mixin nav-page-m
  nav.nav-page-d.nav-page-d--mobile
    ul.nav-page-d__list(data-aos='fade-up')
      -
        var items = [
          {
            href: '#',
            scroll: '#materials',
            title: 'Материалы и методы исследования',
          },
          {
            href: '#',
            scroll: '#results',
            title: 'Результаты исследования и обсуждения',
          },
          {
            href: '#',
            scroll: '#literature',
            title: 'Литература',
          },
        ]
      each item, index in items
        li.nav-page-d__item(class = ((index === 0) ? 'nav-page-d__item--active' : ''))
          a.category-item.category-item--light-blue.category-item--background--white.nav-page-d__link(href=item.href data-scroll=item.scroll)
            |!{item.title}

mixin copyright-link
  a.copyright-link(href=attributes.href)
    .copyright-link__mark
      +copyright-svg.copyright-link__mark-svg
    .copyright-link__text
      block


block content
  .specialists-page
    .container
      .row
        .row__col.row__col--aside.row__col--rail
          .aside
            .aside__inner
              .aside__container
                .aside__top.modal(data-modal='4')
                  header.header.header--margin-bottom--default
                    a.header__logo(href='#')
                      +logo-svg.header__logo-svg
                    .header__menu(data-button='4')
                      .header__text
                        |Меню
                      .header__button
                        .header__burger
                          span.header__burger-span
                  +modal-aside
                  a.back-link(href="#")
                    .back-link__icon
                      +arrow-svg.back-link__svg.back-link__svg--swap
                    .back-link__text
                      |вернуться к статьям
                  +nav-page-d
                .aside__bottom(data-aos='fade-up')
                  a.download-link.download-link--margin-bot--default.btn-animation(href="#")
                    .download-link__icon
                      +download-svg.download-link__svg
                    .btn-animation__text.download-link__text
                      |Скачать статью в PDF
                  +copyright-link(href='#')
                    |Компания «Инвар», 2021
        .row__col.row__col--main
          .page
            header.page__header
              .panel.panel--nav
                .panel__panel
                  .panel__row
                    .panel__col(data-aos='fade-up')
                      .panel__inner
                        .panel__product
                          //- .panel__product-item--active
                          a.panel__product-item(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__wrapper(data-aos='fade-up')
                      .panel__wrapper-row
                        .panel__wrapper-col
                          .panel__inner
                            a.panel__where-buy(href='#')
                              |Где купить
                            .panel__choice
                              .panel__choice-item(data-count=8 data-modal-button='3')
                                |Симптомы
                              .panel__choice-item(data-count=12 data-modal-button='2')
                                |Заболевания
                        .panel__wrapper-col
                          .panel__inner
                            .panel__test(data-button='3')
                              +calendar-test-svg.panel__test-icon
                              .panel__test-text
                                |Пройти тест
                            a.panel__consultation(href="consultation.html") 
                              +consultation-svg.panel__consultation-svg
                              .panel__consultation-text
                                |Консультация эксперта
                      .panel__modals
                        +modal-header
                  .panel__mobile
                    header.header(data-aos='fade-up')
                      a.header__logo(href="#")
                        +logo-svg.header__svg
                      .header__menu(data-modal-button='1')
                        .header__button
                          .header__burger
                            span.header__burger-span
                    +nav-page-m
                  .panel__modals
                    +modal-mobile
            main.page__main
              h1.title.title--md(data-aos='fade-up')
                |Комбинированное лечение доброкачественных заболеваний шейки матки
              a.back-link.back-link--mobile(href="#" data-aos='fade-up')
                .back-link__icon
                  +arrow-svg.back-link__svg.back-link__svg--swap
                .back-link__text
                  |вернуться к статьям
              .rail.rail--desctop(data-aos='fade-up')
              .specialists-page__specialists.disease-page
                .content
                  section.specialists-page__article.specialists-page__bottom
                    .specialists-page__article-layout(data-aos='fade-up')
                      +wave-articles-svg.specialists-page__article-img
                    .specialists-page__article-row
                      .specialists-page__article-col
                        .specialists-page__article-label(data-aos='fade-up')
                          |категория
                        .specialists-page__article-category(data-aos='fade-up')
                          .category-item.category-item--light-blue.category-item--background--white
                            |ВПЧ
                      .specialists-page__article-col
                        .specialists-page__info
                          .specialists-page__info-row
                            .specialists-page__info-col
                              .specialists-page__article-label(data-aos='fade-up')
                                |Авторы статьи
                            .specialists-page__info-col
                              .doctor-card(data-aos='fade-up')
                                .doctor-card__name
                                  |Н.М. Назаров, д.м.н., В.Н. Прилепская, Е.Г. Сычев
                                .doctor-card__pos
                                  |«ФГБУ национальный медицинский исследовательский центр акушерства, гинекологии и перинатологии им. академика В.И. Кулакова» Минздрав России, Москва
                  .disease-page__content-m
                    section.section
                      p.text
                        |Проведен сравнительный анализ результатов лечения 290 женщин в возрасте от 19 до 48 лет с неопухолевыми заболеваниями шейки матки, ассоциированными с вирусом папилломы человека. Установлено, что  использование  спрея  эпиген интим  при  традиционном  криолечении  доброкачественной  патологии шейки  матки  способствует  достоверному  сокращению  сроков  эпителизации,  увеличению  процента излеченных больных после одного сеанса криовоздействия и уменьшению количества рецидивов.
                      p.text
                        |Актуальность проблемы лечения доброкачественных заболеваний шейки матки обусловлена широкой распространенностью патологии шейки матки, которая встречается, по данным В.Н. Прилепской [8], у 10—15% женщин репродуктивного возраста. Кроме того, известно, что доброкачественные процессы могут предшествовать злокачественным новообразованиям шейки матки, заболеваемость которыми в настоящее время, согласно исследованиям В.И. Краснопольского, В.Н. Прилепской [5,7], не имеет тенденции к снижению.
                    section.section
                      .indent
                        .rail.rail--reverse(data-aos='fade-up')
                        .specialists-page__wish-container
                          .specialists-page__wish-text(data-aos='fade-up')
                            |Лечение молочницы у женщин должно обязательно включать противогрибковый препарат, который действует на возбудителя заболевания. Правильное активное вещество поможет подобрать врач на основании результатов лабораторных анализов.
                        .rail.rail--blue(data-aos='fade-up')
                    section.section(id='materials' data-section='')
                      h4
                        |Материал и методы исследования
                      p.text
                        |Всего под нашим наблюдением находилось 290 женщин в возрасте от 19 до 48 лет, из них 131 — с эктопией, 18 — с лейкоплакией, 9 — с эндометриозом шейки матки, 22 — с дисплазией I—II степени, 50 — с хроническим экзоцерви-цитом, 60 — с кондиломами шейки матки (10 — с плоскими и 50 — с остроконечными). Слепым рандомизированным методом пациентки были разделены на 2 группы. В 1-ю группу (основную) включили 235 женщин с доброкачественными заболеваниями шейки матки, у которых до и после криохирургического воздействия использовали спрей Эпиген интим, во 2-ю группу (контрольную) вошли 55 женщин с доброкачественной патологией шейки матки, получавших традиционное лечение с использованием сверх-низких температур. От каждой женщины было получено согласие на обследование и лечение.
                      p.text
                        |Общее клиническое обследование больных заключалось в тщательном изучении анамнеза, менструальной и детородной функций, симптомов заболевания, характера сопутствующей патологии. Гинекологическое обследование проводили по общепринятой методике, при этом обращали внимание на состояние слизистой вульвы и влагалища, оценивали размер, форму шейки матки и состояние эпителиального покрова экзоцервикса. Всем женщинам на базе лаборатории МЛПУ Родильный дом № 1 Нижнего Новгорода проводили бактериоскопическое и бактериологическое исследование содержимого влагалища и отделяемого из цервикального канала.
                      p.text
                        |Пациенток с патологическим состоянием микро-ценоза влагалища обследовали на наличие инфекций, передаваемых половым путем (ИППП), методом полимеразной цепной реакции (ПЦР) и иммуноферментного анализа (ИФА). У всех больных брали материал с шейки матки с помощью специальных нейлоновых щеточек (Cervix-Brush) для цитологического исследования, которое проводили по общепринятой методике. Классификация цитологических результатов исследования осуществлялась по Папаниколау (включала 5 классов). Обследуемым женщинам проводили простую и расширенную кольпоскопию. При констатации доброкачественных кольпоскопических проявлений диагностические мероприятия завершались (использовали международную кольпоскопическую терминологию, обновленную Международной ассоциацией по патологии шейки матки и коль-поскопии в Барселоне в 2003 г.).
                      p.text
                        |Анормальные или неудовлетворительные кольпоскопические картины являлись показанием к биопсии шейки матки. Группы были сопоставимы по основным сведениям анамнеза, характеру предъявляемых жалоб, особенностям менструальной и репродуктивной функций, структуре сопутствующей гинекологи-ческой патологии, данным комплексной лабораторной диагностики ИППП. Статистическую обработку материалов исследования проводили с помощью пакета прикладных программ Statistica 6,0 и Microsoft Excel. Для проверки статистических гипотез использовали непараметрические критерии Вилкоксона для зависимых (парных) выборок и Манна— Уитни для независимых выборок, а также критерий Фишера. Как принято в медико-статистических исследованиях, нулевая гипотеза отвергалась при
                    section.section(id='results' data-section='')
                      h4
                        |Результаты исследования и обсуждение
                      p.text
                        |В собственных исследованиях основной нозологической формой оказалась эктопия шейки матки (45,2%), что совпадает с данными литературы. Эта патология встречается у 38% женщин, в том числе у 49,2% гинекологических больных. Второе место в нашем наблюдении поделили хронические экзоцервициты (у 17,2% больных) и остроконечные кондиломы шейки матки (также у 17,2% женщин).
                      p.text
                        |Средний возраст наступления менархе в группах наблюдения равнялся 14,2±0,5 года и был старше по сравнению с популяционными среднестатистическими данными (средний возраст появления регул у женщин в России составляет 12,5±0,1 года). Среди наблюдаемых рожавшие составляли боль-шинство — 88,3% (259 женщин). У всех обследуемых проводили бактериоскопическое исследование влагалищного содержимого и бактериологическое исследование отделяемого из цервикального канала и содержимого влагалища. Данные бактериоскопического исследования в группах наблюдения представлены в табл. 2.
                      .table
                        table.table__table
                          tr
                            td.table__title(rowspan="2")
                              |Показатели микроскопии влагалища
                            td.table__text(colspan="2")
                              |1-я группа (n=235)
                            td.table__text(colspan="2")
                              |2-я группа (n=55)
                          tr
                            td.table__text
                              |абс.
                            td.table__text
                              |%
                            td.table__text
                              |абс.
                            td.table__text
                              |%
                          tr
                            td.table__subtitle
                              |Нормальное состояние
                            td.table__text
                              |23
                            td.table__text
                              |9,8
                            td.table__text
                              |4
                            td.table__text
                              |7,2
                          tr
                            td.table__subtitle
                              |Бактериальный вагиноз
                            td.table__text
                              |15
                            td.table__text
                              |6,4
                            td.table__text
                              |3
                            td.table__text
                              |5,5
                          tr
                            td.table__subtitle
                              |Кольпит различной этиологии
                            td.table__text
                              |197
                            td.table__text
                              |83,8
                            td.table__text
                              |48
                            td.table__text
                              |87,3
                      p.text
                        |Как видно из табл. 2, при бактериоскопии состояние влагалища было оценено как нормальное у 27 (9,3%) пациенток; бактериальный вагиноз диагностирован у 18 (6,2%); кольпит различной этиологии — у 245 (84,5%). У 82 (28,3%) обследованных женщин был выявлен дрожжеподобный гриб рода Candida, у 59 (20,3%) — Gardnerella vaginalis, у 54 (18,6%) — Staphylococcus epidermidis, у 46 (15,9%) — Staphylococcus saprophyticum, у 35 (12,1%) — Trichomonas vaginalis, у 35 (12,1%) — Mobiluncus, у 32 (11%) — Escherichia coli, у 26 (8,9%) — Enterococcus faecalis. Необходимо отметить, что среди больных с остроконечными кондиломами шейки матки при микроскопии бактериальный вагиноз выявлен у 4 (8%) пациенток, кольпит различной этиологии — у 46 (92%) женщин. Бактериологическое исследование помогало определять родовую и видовую принадлежность микроорганизмов, а также чувствительность выявленной флоры к антибиотикам. При этом у 32 (11%) пациенток была выявлена Mycoplasma hominis, у 57 (19,7%) — Ureaplasma urealiticum. Mycoplasma hominis и Ureaplasma urealiticum определялись в отделяемом из цервикального канала в количестве 105— 106 КОЕ/мл. 213 (86,9%) женщин с патологическим состоянием микроценоза влагалища прошли обследование на ИППП методом ПЦР (70,2% из 1-й группы и 80% из 2-й группы). Выявляемость ИППП методом ПЦР у пациенток с доброкачественной патологией шейки матки составила 96,7% (табл. 3.)
                      .picture 
                        .picture__img 
                          img(src="assets/images/specialist-page.jpg", alt="")
                        .picture__label 
                          |Бактериологическое исследовани
                    section.section(id='literature' data-section='')
                      h4
                        |Литература
                      ul.list-num
                        each item in ['Аполихина И.А. Оптимизация диагностических и лечебных мероприятий у больных с папилломавирусной инфекцией гениталий: Автореф. дис. … канд. мед. наук. — М., 1999', 'Башмакова М.А., Савичева А.М.Вирусы папилломы человека и их роль в образовании опухо- лей. — Н. Новгород, 1999', 'Дамиров М.М., Микаберидзе Н.И. Криогенный метод лечения доброкачественных заболеваний шейки матки. — М., 2003', 'Кира Е.Ф., Цвелев Ю.В. Терминология и классификация бактериальных инфекционных заболеваний женских половых органов // Новости медицины и фармации. —  2002. —  №  19. — С. 20—25', 'Кира Е.Ф., Цвелев Ю.В. Терминология и классификация бактериальных инфекционных заболеваний женских половых органов // Новости медицины и фармации. —  2002. —  №  19. — С. 20—25', 'Краснопольский  В.И. Патология влагалища и шейки матки. — М., 1997', 'Лубенкова Н.В. Оптимизация результатов криохирургического лечения фоновых и предраковых заболеваний шейки матки с учетом сопутствующей инфекции генитального тракта: Дис. … канд. мед. наук. — Харьков, 1999. — С. 159—195', 'Прилепская В.Н. Заболевания шейки матки, влагалища и вульвы. — М., 2000',]
                          li.item
                            |#{item}
                    section.specialists-page__bottom.margin-top
                      .specialists-page__bottom-row
                        .specialists-page__bottom-col
                          .specialists-page__bottom-container(data-aos='fade-up')
                            img.specialists-page__bottom-img(src="assets/images/epigen-spray.jpg", alt="")
                        .specialists-page__bottom-col
                          .specialists-page__bottom-content
                            h3.specialists-page__bottom-title(data-aos='fade-up')
                              |Спрей#[br]Эпиген Интим
                            .specialists-page__bottom-btn(data-aos='fade-up')
                              a.button.button--spray-article.btn-animation(href="#")
                                span.btn-animation__text
                                  |Подробнее
                      .specialists-page__bottom-column(data-aos='fade-up')

            +footer.page__footer
  +modal-test 
  +modal-consultation
