extends ../layouts/master.pug

include ../components/footer.pug
include ../components/modals.pug

//- block cookies
block grid-test

include ../components/block.pug

mixin nav-page-d
  nav.nav-page-d.nav-page-d--desktop(data-aos='fade-up')
    ul.nav-page-d__list
      -
        var items = [
          {
            href: '#',
            scroll: '#spray',
            title: 'Спрей',
          },
          {
            href: '#',
            scroll: '#form',
            title: 'Форма выпуска',
          },
          {
            href: '#',
            scroll: '#purpose',
            title: 'Назначение',
          },
          {
            href: '#',
            scroll: '#test',
            title: 'Диагностический тест',
          },
          {
            href: '#',
            scroll: '#structure',
            title: 'Состав',
          },
          {
            href: '#',
            scroll: '#instruction',
            title: 'Инструкция',
          },
          {
            href: '#',
            scroll: '#reviews',
            title: 'Отзывы',
          },
        ]
      each item, index in items
        li.nav-page-d__item(class = ((index === 0) ? 'nav-page-d__item--active' : ''))
          a.nav-page-d__link(href=item.href data-scroll=item.scroll)
            |!{item.title}

mixin nav-page-m
  nav.nav-page-d.nav-page-d--mobile
    ul.nav-page-d__list(data-aos='fade-up')
      -
        var items = [
          {
            href: '#',
            scroll: '#spray',
            title: 'Спрей',
          },
          {
            href: '#',
            scroll: '#form',
            title: 'Форма выпуска',
          },
          {
            href: '#',
            scroll: '#purpose',
            title: 'Назначение',
          },
          {
            href: '#',
            scroll: '#test',
            title: 'Диагностический тест',
          },
          {
            href: '#',
            scroll: '#structure',
            title: 'Состав',
          },
          {
            href: '#',
            scroll: '#instruction',
            title: 'Инструкция',
          },
          {
            href: '#',
            scroll: '#reviews',
            title: 'Отзывы',
          },
        ]
      each item, index in items
        li.nav-page-d__item(class = ((index === 0) ? 'nav-page-d__item--active' : ''))
          a.category-item.category-item--light-blue.category-item--background--white.nav-page-d__link(href=item.href data-scroll=item.scroll)
            |!{item.title}

mixin copyright-link
  a.copyright-link(href=attributes.href)
    .copyright-link__mark
      +copyright-svg.copyright-link__mark-svg
    .copyright-link__text
      block

block content
  .spray-page.page-gel
    .container
      .row
        .row__col.row__col--aside.row__col--rail
          .aside
            .aside__inner
              .aside__container
                .aside__top.modal(data-modal='4')
                  header.header.header--margin-bottom--default(data-aos='fade-up')
                    a.header__logo(href='#')
                      +logo-svg.header__logo-svg
                    .header__menu(data-button='4')
                      .header__text
                        |Меню
                      .header__button
                        .header__burger
                          span.header__burger-span
                  +modal-aside
                  +nav-page-d
                .aside__bottom(data-aos='fade-up')
                  a.button.button--spray.margin-bottom.margin-bottom--m.btn-animation(href="#")
                    span.btn-animation__text
                      |Где купить
                  +copyright-link(href='#')
                    |Компания «Инвар», 2021
        .row__col.row__col--main
          .page
            header.page__header
              .panel.panel--nav
                .panel__panel
                  .panel__row
                    .panel__col(data-aos='fade-up')
                      .panel__inner
                        .panel__product
                          //- .panel__product-item--active
                          a.panel__product-item.panel__product-item--active(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__wrapper(data-aos='fade-up')
                      .panel__wrapper-row
                        .panel__wrapper-col
                          .panel__inner
                            a.panel__where-buy(href='#')
                              |Где купить
                            .panel__choice
                              .panel__choice-item(data-count=8 data-modal-button='3')
                                |Симптомы
                              .panel__choice-item(data-count=12 data-modal-button='2')
                                |Заболевания
                        .panel__wrapper-col
                          .panel__inner
                            .panel__test(data-button='3')
                              +calendar-test-svg.panel__test-icon
                              .panel__test-text
                                |Пройти тест
                            .panel__consultation(data-button='6')
                              +consultation-svg.panel__consultation-svg
                              .panel__consultation-text
                                |Консультация эксперта
                      .panel__modals
                        +modal-header
                  .panel__mobile
                    header.header(data-aos='fade-up')
                      a.header__logo(href="#")
                        +logo-svg.header__svg
                      .header__menu(data-modal-button='1')
                        .header__button
                          .header__burger
                            span.header__burger-span
                    +nav-page-m
                  .panel__modals
                    +modal-mobile

            main.page__main
              section.spray-page__section
                .frame.frame--spray(data-aos='fade-up')
                  img.frame__img(src='assets/images/spray-frame.jpg')
                  .spray-page__intro
                    .spray-page__intro-row
                      .spray-page__intro-col
                        ul.spray-page__intro-list
                          li.spray-page__intro-item
                            .category-item.category-item--blue.cursor.cursor--default
                              |Сделано в Испании
                          li.spray-page__intro-item
                            .category-item.category-item--blue.cursor.cursor--default
                              |Соответсвует стандартам GMP
                      .spray-page__intro-col
                        h1.spray-page__intro-title
                          |Спрей#[br]Эпиген Интим
                .spray-page__intro.spray-page__intro--mobile
                  .spray-page__intro-row
                    .spray-page__intro-col
                      h1.spray-page__intro-title(data-aos='fade-up')
                        |Спрей Эпиген Интим
                    .spray-page__intro-col
                      ul.spray-page__intro-list
                        li.spray-page__intro-item(data-aos='fade-up')
                          .category-item.category-item--blue
                            |Сделано в Испании
                        li.spray-page__intro-item(data-aos='fade-up')
                          .category-item.category-item--blue
                            |Соответсвует стандартам GMP
                    .spray-page__intro-col(data-aos='fade-up')
                      a.button.button--spray.btn-animation(href="#")
                        span.btn-animation__text
                          |Где купить
              section.spray-page__section.margin-top.margin-top--l(id='spray' data-section='')
                .spray-page__section-row
                  .spray-page__section-col
                    h3.spray-page__section-title(data-aos='fade-up')
                      |Эпиген Интим Спрей предназначен для профилактики и лечения гинекологических заболеваний
                  .spray-page__section-col
                    p.spray-page__section-text(data-aos='fade-up')
                      |Разрешен к применению на любом сроке беременности и в период прегравидарной подготовки, не противопоказан детям.
              section.spray-page__section-container.margin-top.margin-top--l(id='form' data-section='')
                .spray-page__product-layout(data-aos='fade-up')
                  +star-svg.spray-page__product-star
                +block
              section.spray-page__section.margin-top.margin-top--l
                ul.spray-page__list
                  li.spray-page__list-item.spray-page__list-item--default(data-aos='fade-up')
                    p.spray-page__list-text
                      |5 эффектов спрея Эпиген Интим для помощи при различных заболеваниях интимной зоны
                  li.spray-page__list-item(data-aos='fade-up')
                    .spray-page__list-container
                      .spray-page__list-img
                        +spray-1-svg
                      h3.spray-page__list-title
                        |Противовирусный
                  li.spray-page__list-item(data-aos='fade-up')
                    .spray-page__list-container
                      .spray-page__list-img
                        +spray-2-svg
                      h3.spray-page__list-title
                        |Противовоспалительный
                  li.spray-page__list-item(data-aos='fade-up')
                    .spray-page__list-container
                      .spray-page__list-img
                        +spray-3-svg
                      h3.spray-page__list-title
                        |Противозудный
                  li.spray-page__list-item(data-aos='fade-up')
                    .spray-page__list-container
                      .spray-page__list-img
                        +spray-4-svg
                      h3.spray-page__list-title
                        |Регенерирующий
                  li.spray-page__list-item(data-aos='fade-up')
                    .spray-page__list-container
                      .spray-page__list-img
                        +spray-5-svg
                      h3.spray-page__list-title
                        |Иммуностимулирующий
              section.spray-page__section.margin-top.margin-top--l(id='purpose' data-section='')
                h3.spray-page__section-title(data-aos='fade-up')
                  |Применяется при лечении
                .spray-page__use
                  ul.spray-page__use-list
                    li.spray-page__use-item(data-aos='fade-up')
                      .spray-page__use-card
                        .spray-page__use-container
                          .spray-page__use-img
                            +spray-use-1-svg
                          .spray-page__use-text
                            |Генитальный герпес
                      .spray-page__use-card
                        .spray-page__use-container
                          .spray-page__use-img
                            +spray-use-2-svg
                          .spray-page__use-text
                            |ВПЧ
                    li.spray-page__use-item.spray-page__use-item--big(data-aos='fade-up')
                      .spray-page__use-card.spray-page__use-card--big
                        .spray-page__use-container
                          .spray-page__use-img
                            +spray-use-3-svg
                          .spray-page__use-text
                            |Бактериальный вагиноз, неспецифический вагинит
                    li.spray-page__use-item.spray-page__use-item--big(data-aos='fade-up')
                      .spray-page__use-card.spray-page__use-card--big
                        .spray-page__use-container
                          .spray-page__use-img
                            +spray-use-4-svg
                          .spray-page__use-text
                            |Дискомфорт, связанный с половым актом
                    li.spray-page__use-item(data-aos='fade-up')
                      .spray-page__use-card
                        .spray-page__use-container
                          .spray-page__use-img
                            +spray-use-5-svg
                          .spray-page__use-text
                            |Заболевания шейки матки
                      .spray-page__use-card
                        .spray-page__use-container
                          .spray-page__use-img
                            +spray-use-6-svg
                          .spray-page__use-text
                            |При беременности
              section.spray-page__section.margin-top.margin-top--ll
                .spray-page__content
                  .spray-page__content-layout(data-parallax='1')
                    +star-svg.spray-page__content-img
                    +moon-svg.spray-page__content-icon
                    +triangle-bg-svg.spray-page__content-bg
                  .spray-page__content-content
                    h3.spray-page__content-title(data-aos='fade-up')
                      |Ощущаете дискомфорт в интимной зоне?
                    .spray-page__content-row
                      .spray-page__content-col(data-aos='fade-up')
                        a.spray-page__content-button.btn-animation.btn-animation--icon(href="#" data-scroll='#test')
                          +spoiler-arrow-svg.spray-page__content-svg
                      .spray-page__content-col(data-aos='fade-up')
                        .spray-page__content-text
                          |Пройдите тест и узнайте больше о решении данной проблемы
              section.test.margin-top.margin-top--md(id='test' data-parallax-container='1' data-section='')
                form.test__container(action="/")
                  .test__row(data-aos='fade-up')
                    .test__col
                      ul.test__questions
                        each item, index in ['Какие проявления в интимной зоне вас беспокоят?', 'Как часто вас беспокоят данные проявления?', 'Когда вы были последний раз на приеме у врача гинеколога?', 'Каким образом Вы решали проблему?', 'Удалось ли справиться с проблемой?']
                          li.test__question(class = ((index === 0) ? 'test__question--active' : ''))
                            |!{item}
                      ul.test__dots
                        - for (i = 0; i < 5; i++)
                          li.test__dot(class = ((i === 0) ? 'test__dot--active' : ''))
                    .test__col
                      .test__options.test__options--active
                        each item in ['Обильные выделения без неприятного запаха', 'Выделения с неприятным запахом', 'Болезненные пузырьки в интимной зоне, превращающиеся в язвы', 'Безболезненные папилломы, узелки, наросты или бородавки в интимной зоне', 'Что-то другое, не указанное выше']
                          label.test__label(for="#")
                            input.test__radio(type="radio" name='question-1')
                            .test__icon
                              +check-svg
                            .test__text
                              |#{item}
                      .test__options
                        each item in ['Беспокоят впервые', 'Уже случалось ранее', 'Беспокоят периодически 1-2 раза в год', 'Беспокоят периодически 3-4 раза в год', 'После лечения вскоре снова обостряется']
                          label.test__label(for="#")
                            input.test__radio(type="radio" name='question-2')
                            .test__icon
                              +check-svg
                            .test__text
                              |#{item}
                      .test__options
                        each item in ['Не считаю нужным обращаться к врачу', 'Более 3 лет назад', 'Более 1 года назад', 'В этом году', 'Обращалась к гинекологу когда возникла данная проблема']
                          label.test__label(for="#")
                            input.test__radio(type="radio" name='question-3')
                            .test__icon
                              +check-svg
                            .test__text
                              |#{item}
                      .test__options
                        each item in ['Пока ничего не делала, только наблюдала', 'Использовала средства народной медицины', 'Лечилась тем, что посоветовал фармацевт в аптеке', 'Лечилась лекарствами, которые советовали в интернете', 'Лечилась тем, что назначил врач гинеколог']
                          label.test__label(for="#")
                            input.test__radio(type="radio" name='question-4')
                            .test__icon
                              +check-svg
                            .test__text
                              |#{item}
                      .test__options
                        each item in ['Да, удалось', 'Нет, не удалось', 'Лечение помогло, но не в полной мере', 'Пока не лечилась', 'Лечиться не планирую, интересуюсь ради любопытства']
                          label.test__label(for="#")
                            input.test__radio(type="radio" name='question-5')
                            .test__icon
                              +check-svg
                            .test__text
                              |#{item}
                  .test__index(data-aos='fade-up')
                    |1
                .test__result
                  .test__result-container
                    .test__result-row
                      .test__result-col
                        .test__result-caption
                          |возможный диагноз
                        h3.test__result-title
                          |Бактериальный вагиноз
                        p.test__result-text
                          |Неприятный запах выделений из половых путей часто сопровождает бактериальный вагиноз. Для уточнения диагноза и исключения инфекций, передаваемых половым путем, необходимо обратиться к врачу и сдать дополнительные анализы, без них разобраться в проблеме будет сложно.
                        .test__result-label
                          .link-text.link-text--s
                            |Для повышения эффективности лечения попробуйте спрей #[a.link-text__link.btn-animation(href='#') #[span.btn-animation__text Эпиген Интим]] . Он обладает противовоспалительным и местным иммуностимулирующим эффектом.
                        .test__result-button 
                          .button.button--wide.btn-animation.test__result-btn
                            span.btn-animation__text
                              |Пройти тест заново
                      .test__result-col
                        .test__form
                          .test__form-wrapper(data-form='2')
                            h4.test__form-title
                              |Для получения результатов теста укажите E&#8209;mail
                            form.form(action='/' data-type="feedback-form")
                              .test__form-item
                                label.form__item
                                  input.form__input(type="email" name="email" required="required")
                                  span.form__placeholder
                                    |E-mail
                              .test__form-item
                                button.button.button--wide.btn-animation(type='submit' data-form-button='2')
                                  span.btn-animation__text
                                    |Отправить результаты теста на почту
                          .test__form-response(data-response='2')
                            |Результат отправлен на почту#[br]
                            span.test__form-email

              section.spray-page__section.margin-top.margin-top--l(id='structure' data-section='')
                .spray-page__structure
                  .spray-page__structure-row
                    .spray-page__structure-col
                      h3.spray-page__section-title(data-aos='fade-up')
                        |Состав
                      .spray-page__structure-label(data-aos='fade-up')
                        |на 100 мл. препарата
                    .spray-page__structure-col
                      h4.spray-page__structure-title(data-aos='fade-up')
                        |Действущее вещество
                      .spray-page__structure-content(data-aos='fade-up')
                        .spray-page__structure-text.max-width.max-width--col--5
                          |Глицирризиновая кислота активированная (эквивалентно аммонию глицирризинату)
                        .spray-page__structure-num
                          |0,1 г
                    .spray-page__structure-col
                      .spray-page__structure-head(data-aos='fade-up')
                        h4.spray-page__structure-title
                          |Вспомогательные вещества
                        .spray-page__structure-num
                          |q.s.
                      ul.spray-page__structure-list
                        each item in ['Яблочная кислота', 'Фумаровая кислота', 'Аскорбиновая кислота', 'Фолиевая кислота', 'Пропиленгликоль', 'Твин-80 (полисорбат-80)', 'Вода очищенная',]
                          li.spray-page__structure-item(data-aos='fade-up')
                            .spray-page__structure-text
                              |!{item}
              section.spray-page__section.margin-top.margin-top--l(id='instruction' data-section='')
                .spray-page__video
                  .spray-page__video-row
                    .spray-page__video-col
                      h3.spray-page__section-title.margin-botto.margin-bottom--m(data-aos='fade-up')
                        |Способ применения
                      .spray-page__video-button(data-aos='fade-up')
                        a.download-link.download-link--default.btn-animation(href="#")
                          .download-link__icon
                            +download-svg.download-link__svg
                          span.download-link__text.btn-animation__text
                            |Скачать инструкцию
                    .spray-page__video-col(data-aos='fade-up')
                      .video.video--default
                        .video__container
                          .video__frame
                            video(id='video' poster='assets/images/video.jpg')
                              source(src='https://epigen.ru/spray/about/uploads/gel1.mp4')
                          .video__button(id='play')
                            .video__button-icon
                              +start-svg.video__button-svg
              section.page-gel__reviews.page-gel__reviews--tabs(id='reviews' data-section='')
                .page-gel__reviews-layout
                .reviews-tabs
                  .page-gel__reviews-top.page-gel__reviews-top--tabs
                    .page-gel__reviews-left
                      h2.page-gel__reviews-title
                        |Отзывы
                    .page-gel__reviews-right
                      .page-gel__reviews-links-item.page-gel__reviews-links-item--mobile
                        a.button.button--reviews-slider.button--reviews-slider--small.btn-animation(href='#')
                          span.btn-animation__text
                            |Все отзывы
                  .reviews-tabs__buttons(data-aos='fade-up')
                    .spray-page__slider-categories
                      .spray-page__slider-item
                        .border-link
                          |Отзывы покупателей
                      .spray-page__slider-item.spray-page__slider-item--active
                        .border-link.border-link--active
                          |Отзывы врачей
                  .reviews-tabs__tabs
                    .reviews-tabs__item
                      .swiper-container.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max.js.js--gel-reviews-slider.margin-bottom.margin-bottom--65
                        .swiper-wrapper
                          - for (let i = 0; i < 10; i++)
                            .swiper-slide
                              .page-gel__reviews-card
                                .page-gel__reviews-card-top
                                  h3.page-gel__reviews-card-title
                                    |Nadine Zakharova
                                  p.page-gel__reviews-card-text
                                    |Купила я данное средство, прочитав изначально множество положительных отзывов на различных сайтах. Почему мой выбор пал на него? Несколько лет я пыталась найти своё средство для интимной гигиены, так как везде писали, что нельзя использовать обычный гель для душа или мыло...
                                .page-gel__reviews-card-bottom
                                  a.page-gel__reviews-card-link(href='#')
                                    |irecommend.ru
                      .page-gel__reviews-bottom(data-aos='fade-up')
                        .page-gel__reviews-btns
                          .page-gel__reviews-btns-item
                            .b.b--btn-left-right-slider.btn-animation.btn-animation--icon.js.js--gel-reviews-btn--prev
                              +simple-arrow-svg.b__svg
                          .page-gel__reviews-btns-item
                            .b.b--btn-left-right-slider.b--right.btn-animation.btn-animation--icon.js.js--gel-reviews-btn--next
                              +simple-arrow-svg.b__svg
                    .reviews-tabs__item.reviews-tabs__item--active
                      .b.b--reviews-slider-main-page.b--reviews-slider-spray-page
                        .b__bottom
                          each slide in [1, 2, 3, 4]
                            .b__slide
                              .b__slide-row.b__slide-row--desktop
                                .b__slide-col
                                  .b__slide-img
                                    img.b__img(src='assets/images/reviews-slider-1.jpeg')
                                .b__slide-col
                                  .b__content
                                    .b__content-row
                                      .b__content-col
                                        .b__content-top
                                          h5.b__slide-title
                                            span.b__desc-span
                                              |Манукян Наринэ Георгиевна
                                          p.b__desc
                                            span.b__desc-span
                                              |Врач акушер-гинеколог, гинеколог-эндокринолог, лучший врач корпорации
                                          .b__content-wrapper
                                            p.b__review
                                              |Спрей Эпиген Интим представляет собой эффективное и безопасное средство для лечения, профилактики генитальных вирусных инфекций, а гель предназначен для интимной гигиены на каждый день...
                                      .b__content-col
                                        .b__content-top
                                          .b__preview
                                            .b__preview-counter
                                              .b__preview-wrapper
                                                span.b__preview-count
                                                  |1
                                                |/4
                                            .b__preview-image
                                              img.b__preview-img(src='assets/images/reviews-slider-2.jpeg')
                                    .b__bottom-row
                                      .b__bottom-col
                                        .b__link(data-button='5')
                                          |Читать отзыв
                                      .b__bottom-col 
                                        .b__control
                                          .b__control-item
                                            .b.b--btn-left-right-slider.btn-animation.btn-animation--icon(data-command-slider-arrow='prev')
                                              +simple-arrow-svg.b__svg
                                          .b__control-item
                                            .b.b--btn-left-right-slider.b--right.btn-animation.btn-animation--icon(data-command-slider-arrow='next')
                                              +simple-arrow-svg.b__svg
                              .b__slide-mobile
                                .b__slide-row
                                  .b__slide-col
                                    .b__slide-top
                                      .b__slide-img
                                        img.b__img(src='assets/images/reviews-slider-1.jpeg')
                                      .b__content
                                        h5.b__slide-title
                                          span.b__desc-span
                                            |Сапрыкина Людмила Витальевна
                                        .b__desc
                                          span.b__desc-span
                                            |Ассистент кафедры акушерства и гинекологии ЛФ ФГБОУ ВО им. Н.И. Пирогова МЗ РФ, врач акушер-гинеколог высшей категории, к.м.н. (Москва).
                                        .b__content-content 
                                          p.b__review
                                            |Спрей Эпиген Интим представляет собой эффективное и безопасное средство для лечения, профилактики генитальных вирусных инфекций, а гель предназначен для интимной гигиены на каждый день...
                                          .b__link-link
                                            .b__link(data-button='5')
                                              |Читать отзыв
                                    .b__slide-bottom
                                      p.b__review
                                        |Спрей Эпиген Интим представляет собой эффективное и безопасное средство для лечения, профилактики генитальных вирусных инфекций, а гель предназначен для интимной гигиены на каждый день...
                                      .b__link-link
                                        .b__link(data-button='5')
                                          |Читать отзыв
                                  .b__slide-col
                                    .b__content-top
                                      .b__control
                                        .b__control-item
                                          .b.b--btn-left-right-slider.btn-animation.btn-animation--icon(data-command-slider-arrow='prev')
                                            +simple-arrow-svg.b__svg
                                        .b__control-item
                                          .b.b--btn-left-right-slider.b--right.btn-animation.btn-animation--icon(data-command-slider-arrow='next')
                                            +simple-arrow-svg.b__svg

                  .reviews-tabs__links
                    .spray-page__slider-links
                      a.button.button--reviews-slider.button--reviews-slider--small.btn-animation.spray-page__slider-desktop(href='#')
                        span.btn-animation__text
                          |Все отзывы
                      .spray-page__slider-link.btn-animation(data-button='6')
                        span.btn-animation__text
                          |Задать вопрос врачу
            +footer.page__footer
  +modal-test
  +modal-consultation
  +modal-article