extends ../layouts/master.pug

include ../components/footer.pug

//- block cookies
block grid-test

mixin nav-page-d
  nav.nav-page-d
    ul.nav-page-d__list
      -
        var items = [
          {
            href: '#',
            scroll: '#spray',
            title: 'Спрей',
          },
          {
            href: '#',
            scroll: '#form',
            title: 'Форма выпуска',
          },
          {
            href: '#',
            scroll: '#purpose',
            title: 'Назначение',
          },
          {
            href: '#',
            scroll: '#test',
            title: 'Диагностический тест',
          },
          {
            href: '#',
            scroll: '#structure',
            title: 'Состав',
          },
          {
            href: '#',
            scroll: '#instruction',
            title: 'Инструкция',
          },
          {
            href: '#',
            scroll: '#reviews',
            title: 'Отзывы',
          },
        ]
      each item, index in items
        li.nav-page-d__item(class = ((index === 0) ? 'nav-page-d__item--active' : ''))
          a.nav-page-d__link(href=item.href data-scroll=item.scroll)
            |!{item.title}

mixin nav-page-m
  nav.nav-page-d.nav-page-d--mobile
    ul.nav-page-d__list
      -
        var items = [
          {
            href: '#',
            scroll: '#spray',
            title: 'Спрей',
          },
          {
            href: '#',
            scroll: '#form',
            title: 'Форма выпуска',
          },
          {
            href: '#',
            scroll: '#purpose',
            title: 'Назначение',
          },
          {
            href: '#',
            scroll: '#test',
            title: 'Диагностический тест',
          },
          {
            href: '#',
            scroll: '#structure',
            title: 'Состав',
          },
          {
            href: '#',
            scroll: '#instruction',
            title: 'Инструкция',
          },
          {
            href: '#',
            scroll: '#reviews',
            title: 'Отзывы',
          },
        ]
      each item, index in items
        li.nav-page-d__item(class = ((index === 0) ? 'nav-page-d__item--active' : ''))
          a.category-item.category-item--light-blue.category-item--background--white(href=item.href data-scroll=item.scroll)
            |!{item.title}

mixin copyright-link
  a.copyright-link(href=attributes.href)
    .copyright-link__mark
      +copyright-svg.copyright-link__mark-svg
    .copyright-link__text
      block

block content
  .spray-page
    .container
      .row
        .row__col.row__col--aside.row__col--rail
          .aside
            .aside__inner
              .aside__container
                .aside__top.modal(data-modal='4')
                  header.header.header--margin-bottom--default
                    a.header__logo(href='#')
                      +logo-svg.header__logo-svg
                    .header__menu(data-button='4')
                      .header__text
                        |Меню
                      .header__button
                        .header__burger
                  .modal-aside
                    .modal-aside__container
                      .modal-aside__row
                        .modal-aside__col
                          nav.modal-aside__nav
                            ul.modal-aside__nav-list
                              .modal-aside__nav-col
                                each item in ['Где купить', 'Вопрос эксперту', 'Отзывы Спрей Эпиген ', 'Отзывы Гель Эпиген ',]
                                  li.modal-aside__nav-item
                                    a.modal-aside__nav-link(href="#")
                                      |#{item}
                              .modal-aside__nav-col
                                each item in ['Видео с экспертами', 'Статьи экспертов', 'Вопрос-ответ', 'Специалистам',]
                                  li.modal-aside__nav-item
                                    a.modal-aside__nav-link(href="#")
                                      |#{item}
                          .modal-aside__corp
                            span
                              |Сделано в&nbsp;
                            a.modal-aside__corp-link(href="#")
                              |CloudMill
                        .modal-aside__col
                          .modal-aside__col-item
                            +product-link.product-link--modal--aside(src='assets/images/spray.jpeg')
                              |Спрей
                            .modal-aside__doc
                              a.modal-aside__doc-link(href="#")
                                |Политика конфиденциальности
                          .modal-aside__col-item
                            +product-link.product-link--modal--aside.product-link--purple(src='assets/images/gel.jpeg')
                              |Гель
                            .modal-aside__doc
                              a.modal-aside__doc-link(href="#")
                                |Положение о пользовании сайтом
                  +nav-page-d
                .aside__bottom
                  a.button.button--spray.margin-bottom.margin-bottom--m.btn-animation(href="#")
                    span.btn-animation__text
                      |Где купить
                  +copyright-link(href='#')
                    |Компания «Инвар», 2021
        .row__col.row__col--main
          .page
            header.page__header
              .panel.panel--nav
                .panel__panel
                  .panel__row
                    .panel__col
                      .panel__inner
                        .panel__product
                          //- .panel__product-item--active
                          a.panel__product-item(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__wrapper
                      .panel__wrapper-row
                        .panel__wrapper-col
                          .panel__inner
                            a.panel__where-buy(href='#')
                              |Где купить
                            .panel__choice
                              .panel__choice-item(data-count=8 data-modal-button='3')
                                |Симптомы
                              .panel__choice-item(data-count=12 data-modal-button='2')
                                |Заболевания
                        .panel__wrapper-col
                          .panel__inner
                            .panel__test(data-button='3')
                              +calendar-test-svg.panel__test-icon
                              .panel__test-text
                                |Пройти тест
                            .panel__consultation
                              +consultation-svg.panel__consultation-svg
                              .panel__consultation-text
                                |Консультация эксперта
                      .panel__modals
                        .panel-modal(data-modal-id='2')
                          .panel-modal__container
                            .panel-modal__row
                              .panel-modal__col
                                ul.panel-modal__list
                                  each item in ['Генитальный герпес (I и II типа)', 'ВПЧ', 'Применение при беременности', 'Молочница', 'Бактериальный вагиноз',]
                                    li.panel-modal__item
                                      a.panel-modal__link(href="#")
                                        |#{item}
                              .panel-modal__col
                                ul.panel-modal__list
                                  each item in ['ВПЧ', 'Молочница',]
                                    li.panel-modal__item
                                      a.panel-modal__link(href="#")
                                        |#{item}
                        .panel-modal(data-modal-id='3')
                          .panel-modal__container
                            .panel-modal__row
                              .panel-modal__col
                                ul.panel-modal__list
                                  each item in ['Зуд', 'Жжение', 'Выделения, пузырьки', 'Пузырьки, язвочки', 'Болезненность, выделения',]
                                    li.panel-modal__item
                                      a.panel-modal__link(href="#")
                                        |#{item}
                              .panel-modal__col
                                ul.panel-modal__list
                                  each item in ['Болезненность при половом контакте', 'Боль внизу живота', 'Боль при мочеиспускании']
                                    li.panel-modal__item
                                      a.panel-modal__link(href="#")
                                        |#{item}
                  .panel__mobile
                    header.header
                      a.header__logo(href="#")
                        +logo-svg.header__svg
                      .header__menu(data-modal-button='1')
                        .header__button
                          .header__burger
                    +nav-page-m
                  .panel__modals
                    .modal-mobile.modal-mobile--height--100vh-60p(data-modal-id='1')
                      .modal-mobile__inner
                        .modal-mobile__container
                          .modal-mobile__products
                            .modal-mobile__products-item
                              +product-link.product-link--modal--mobile(src='assets/images/spray.jpeg')
                                |Спрей
                            .modal-mobile__products-item
                              +product-link.product-link--modal--mobile.product-link--purple(src='assets/images/gel.jpeg')
                                |Гель
                        .panel.panel--modal
                          .panel__choice
                            .modal-mobile__choice
                              .modal-mobile__choice-button
                                .panel__choice-item(data-count='8')
                                  |Симптомы
                                +spoiler-arrow-svg.modal-mobile__choice-svg
                              .modal-mobile__choice-dropdown
                            .modal-mobile__choice
                              .modal-mobile__choice-button
                                .panel__choice-item(data-count='12')
                                  |Заболевания
                                +spoiler-arrow-svg.modal-mobile__choice-svg
                              .modal-mobile__choice-dropdown
                          .modal-mobile__links
                            .modal-mobile__container
                              ul.modal-mobile__links-list
                                li.modal-mobile__links-item
                                  a.panel__test(href="#")
                                    +calendar-test-svg.panel__test-icon
                                    .panel__test-text
                                      |Пройти тест
                                li.modal-mobile__links-item
                                  a.panel__consultation(href="#")
                                    +consultation-svg.panel__consultation-svg
                                    .panel__consultation-text
                                      |Консультация эксперта
                                each item in ['Где купить', 'Вопрос эксперту', 'Отзывы Спрей Эпиген ', 'Отзывы Гель Эпиген ', 'Видео с экспертами', 'Статьи экспертов', 'Вопрос-ответ', 'Специалистам',]
                                  li.modal-mobile__links-item
                                    a.modal-mobile__links-link(href="#")
                                      |#{item}
                        .modal-mobile__bottom
                          .modal-mobile__container
                            ul.modal-mobile__bottom-links
                              li.modal-mobile__bottom-item
                                a.modal-mobile__bottom-doc(href="#")
                                  |Политика конфиденциальности
                              li.modal-mobile__bottom-item
                                a.modal-mobile__bottom-doc(href="#")
                                  |Положение о пользовании сайтом
                              li.modal-mobile__bottom-item
                                .modal-mobile__bottom-text
                                  span
                                    |Сделано в&nbsp;
                                  a.modal-mobile__bottom-link(href="#")
                                    |CloudMill

            main.page__main
              section.spray-page__section
                .frame.frame--spray
                  img.frame__img(src='assets/images/spray-frame.jpg')
                  .spray-page__intro
                    .spray-page__intro-row
                      .spray-page__intro-col
                        ul.spray-page__intro-list
                          li.spray-page__intro-item
                            .category-item.category-item--blue
                              |Сделано в Испании
                          li.spray-page__intro-item
                            .category-item.category-item--blue
                              |Соответсвует стандартам GMP
                      .spray-page__intro-col
                        h1.spray-page__intro-title
                          |Спрей#[br]Эпиген Интим
                .spray-page__intro.spray-page__intro--mobile
                  .spray-page__intro-row
                    .spray-page__intro-col
                      h1.spray-page__intro-title
                        |Спрей Эпиген Интим
                    .spray-page__intro-col
                      ul.spray-page__intro-list
                        li.spray-page__intro-item
                          .category-item.category-item--blue
                            |Сделано в Испании
                        li.spray-page__intro-item
                          .category-item.category-item--blue
                            |Соответсвует стандартам GMP
                    .spray-page__intro-col
                      a.button.button--spray(href="#")
                        |Где купить
              section.spray-page__section.margin-top.margin-top--l(id='spray' data-section='')
                .spray-page__section-row
                  .spray-page__section-col
                    h3.spray-page__section-title
                      |Эпиген Интим Спрей предназначен для профилактики и лечения гинекологических заболеваний
                  .spray-page__section-col
                    p.spray-page__section-text
                      |Разрешен к применению на любом сроке беременности и в период прегравидарной подготовки, не противопоказан детям.
              section.spray-page__section.margin-top.margin-top--l(id='form' data-section='')
                .product-slider
                  .product-slider__slide.product-slider__slide--front
                    .product-slider__content
                      .product-slider__layout.product-slider__layout--15
                      .product-slider__top
                        ul.product-slider__btns
                          li.product-slider__btns-item
                            .spray-page__tabs-item.spray-page__tabs-item--active
                              .spray-page__tabs-container
                                .spray-page__tabs-row
                                  .spray-page__tabs-col
                                    +spray-svg.spray-page__tabs-icon
                                  .spray-page__tabs-col
                                    .spray-page__tabs-num
                                      |15
                          li.product-slider__btns-item
                            .spray-page__tabs-item
                              .spray-page__tabs-container
                                .spray-page__tabs-row
                                  .spray-page__tabs-col
                                    +spray-svg.spray-page__tabs-icon
                                  .spray-page__tabs-col
                                    .spray-page__tabs-num
                                      |60
                        ul.product-slider__list
                          li.product-slider__list-item
                            |Для 1 полноценного курса лечения
                          li.product-slider__list-item
                            |Для 2-3 курсов короткой  профилактики
                          li.product-slider__list-item
                            |Для дорожной аптечки
                          li.product-slider__list-item
                            |Удобно брать с собой
                      .product-slider__bottom
                        .product-slider__counter
                          .product-slider__counter-top
                            .product-slider__counter-text.product-slider__counter-text--uppercase
                              |до
                          .product-slider__counter-bottom
                            .product-slider__counter-count
                              .product-slider__counter-text.product-slider__counter-text--large
                                |115
                            .product-slider__counter-amount
                              .product-slider__counter-text.product-slider__counter-text--uppercase
                                |доз
                  .product-slider__slide
                    .product-slider__content
                      .product-slider__layout.product-slider__layout--60
                      .product-slider__top
                        ul.product-slider__btns
                          li.product-slider__btns-item
                            .spray-page__tabs-item
                              .spray-page__tabs-container
                                .spray-page__tabs-row
                                  .spray-page__tabs-col
                                    +spray-svg.spray-page__tabs-icon
                                  .spray-page__tabs-col
                                    .spray-page__tabs-num
                                      |15
                          li.product-slider__btns-item
                            .spray-page__tabs-item.spray-page__tabs-item--active
                              .spray-page__tabs-container
                                .spray-page__tabs-row
                                  .spray-page__tabs-col
                                    +spray-svg.spray-page__tabs-icon
                                  .spray-page__tabs-col
                                    .spray-page__tabs-num
                                      |60
                        ul.product-slider__list
                          li.product-slider__list-item
                            |Во время беремнности
                          li.product-slider__list-item
                            |Для применения вместе с партнером 1 год использования по требованию
                          li.product-slider__list-item
                            |Для длительного лечения или профилактики
                          li.product-slider__list-item
                            |Для применения обоими партнерами
                          li.product-slider__list-item
                            |На период беременности
                      .product-slider__bottom
                        .product-slider__counter
                          .product-slider__counter-top
                            .product-slider__counter-text.product-slider__counter-text--uppercase
                              |до
                          .product-slider__counter-bottom
                            .product-slider__counter-count
                              .product-slider__counter-text.product-slider__counter-text--large
                                |460
                            .product-slider__counter-amount
                              .product-slider__counter-text.product-slider__counter-text--uppercase
                                |доз
              section.spray-page__section.margin-top.margin-top--l
                ul.spray-page__list
                  li.spray-page__list-item.spray-page__list-item--default
                    p.spray-page__list-text
                      |5 эффектов спрея Эпиген Интим для помощи при различных заболеваниях интимной зоны
                  li.spray-page__list-item
                    .spray-page__list-container
                      .spray-page__list-img
                        +spray-1-svg
                      h3.spray-page__list-title
                        |Противовирусный
                  li.spray-page__list-item
                    .spray-page__list-container
                      .spray-page__list-img
                        +spray-2-svg
                      h3.spray-page__list-title
                        |Противовоспалительный
                  li.spray-page__list-item
                    .spray-page__list-container
                      .spray-page__list-img
                        +spray-3-svg
                      h3.spray-page__list-title
                        |Противозудный
                  li.spray-page__list-item
                    .spray-page__list-container
                      .spray-page__list-img
                        +spray-4-svg
                      h3.spray-page__list-title
                        |Регенерирующий
                  li.spray-page__list-item
                    .spray-page__list-container
                      .spray-page__list-img
                        +spray-5-svg
                      h3.spray-page__list-title
                        |Иммуностимулирующий
              section.spray-page__section.margin-top.margin-top--l(id='purpose' data-section='')
                h3.spray-page__section-title
                  |Применяется при лечении
                .spray-page__use.margin-top.margin-top--md
                  ul.spray-page__use-list
                    li.spray-page__use-item
                      .spray-page__use-card
                        .spray-page__use-container
                          .spray-page__use-img
                            +spray-use-1-svg
                          .spray-page__use-text
                            |Генитальный герпес
                      .spray-page__use-card
                        .spray-page__use-container
                          .spray-page__use-img
                            +spray-use-2-svg
                          .spray-page__use-text
                            |ВПЧ
                    li.spray-page__use-item
                      .spray-page__use-card.spray-page__use-card--big
                        .spray-page__use-container
                          .spray-page__use-img
                            +spray-use-3-svg
                          .spray-page__use-text
                            |Бактериальный вагиноз, неспецифический вагинит
                    li.spray-page__use-item
                      .spray-page__use-card.spray-page__use-card--big
                        .spray-page__use-container
                          .spray-page__use-img
                            +spray-use-4-svg
                          .spray-page__use-text
                            |Дискомфорт, связанный с половым актом
                    li.spray-page__use-item
                      .spray-page__use-card
                        .spray-page__use-container
                          .spray-page__use-img
                            +spray-use-5-svg
                          .spray-page__use-text
                            |Заболевания шейки матки
                      .spray-page__use-card
                        .spray-page__use-container
                          .spray-page__use-img
                            +spray-use-6-svg
                          .spray-page__use-text
                            |При беременности
              section.spray-page__section.margin-top.margin-top--l
                .spray-page__content
                  .spray-page__content-layout(data-parallax='1')
                    +star-svg.spray-page__content-img
                    +moon-svg.spray-page__content-icon
                    +triangle-bg-svg.spray-page__content-bg
                  .spray-page__content-content
                    h3.spray-page__content-title
                      |Ощущаете дискомфорт в интимной зоне?
                    .spray-page__content-row
                      .spray-page__content-col
                        a.spray-page__content-button(href="#" data-scroll='#test')
                      .spray-page__content-col
                        .spray-page__content-text
                          |Пройдите тест и узнайте больше о решении данной проблемы
              section.test.margin-top.margin-top--md(id='test' data-parallax-container='1' data-section='')
                form.test__container(action="/")
                  .test__row
                    .test__col
                      ul.test__questions
                        each item, index in ['Какие проявления в интимной зоне вас беспокоят?', '2', '3', '4', '5']
                          li.test__question(class = ((index === 0) ? 'test__question--active' : ''))
                            |!{item}
                      ul.test__dots
                        - for (i = 0; i < 5; i++)
                          li.test__dot(class = ((i === 0) ? 'test__dot--active' : ''))
                    .test__col
                      .test__options.test__options--active
                        each item in ['Обильные выделения без неприятного запаха', 'Выделения с неприятным запахом', 'Болезненные пузырьки в интимной зоне, превращающиеся в язвы', 'Безболезненные папилломы, узелки, наросты или бородавки в интимной зоне', 'Что-то другое, не указанное выше']
                          label.test__label(for="#")
                            input.test__radio(type="radio" name='question-1')
                            .test__icon
                              +check-svg
                            .test__text
                              |#{item}
                      .test__options
                        each item in ['Обильные выделения без неприятного запаха', 'Выделения с неприятным запахом', 'Болезненные пузырьки в интимной зоне, превращающиеся в язвы', 'Безболезненные папилломы, узелки, наросты или бородавки в интимной зоне', 'Что-то другое, не указанное выше', 'Что-то другое, не указанное выше', 'Что-то другое, не указанное выше']
                          label.test__label(for="#")
                            input.test__radio(type="radio" name='question-2')
                            .test__icon
                              +check-svg
                            .test__text
                              |#{item}
                      .test__options
                        each item in ['Выделения с неприятным запахом', 'Болезненные пузырьки в интимной зоне, превращающиеся в язвы', 'Безболезненные папилломы, узелки, наросты или бородавки в интимной зоне', 'Что-то другое, не указанное выше']
                          label.test__label(for="#")
                            input.test__radio(type="radio" name='question-3')
                            .test__icon
                              +check-svg
                            .test__text
                              |#{item}
                      .test__options
                        each item in ['Выделения с неприятным запахом', 'Болезненные пузырьки в интимной зоне, превращающиеся в язвы',]
                          label.test__label(for="#")
                            input.test__radio(type="radio" name='question-4')
                            .test__icon
                              +check-svg
                            .test__text
                              |#{item}
                      .test__options
                        each item in ['Обильные выделения без неприятного запаха', 'Выделения с неприятным запахом', '1233321', 'Безболезненные папилломы, узелки, наросты или бородавки в интимной зоне', 'qweasd']
                          label.test__label(for="#")
                            input.test__radio(type="radio" name='question-5')
                            .test__icon
                              +check-svg
                            .test__text
                              |#{item}
                  .test__index
                    |1
                .test__result
                  .test__result-container
                    .test__result-row
                      .test__result-col
                        .test__result-caption
                          |возможный диагноз
                        h3.test__result-title
                          |Бактериальный вагиноз
                        p.test__result-text
                          |Неприятный запах выделений из половых путей часто сопровождает бактериальный вагиноз. Для уточнения диагноза и исключения инфекций, передаваемых половым путем, необходимо обратиться к врачу и сдать дополнительные анализы, без них разобраться в проблеме будет сложно.
                        .test__result-label
                          .link-text.link-text--s
                            |Для повышения эффективности лечения попробуйте спрей #[a.link-text__link(href='#') Эпиген Интим] . Он обладает противовоспалительным и местным иммуностимулирующим эффектом.
                      .test__result-col
                        .test__form
                          .test__form-wrapper
                            h4.test__form-title
                              |Для получения результатов теста укажите E&#8209;mail
                            form.form(action='/')
                              .test__form-item
                                label.form__item
                                  input.form__input(type="text" name="email")
                                  span.form__placeholder
                                    |E-mail
                              .test__form-item
                                button.button.button--wide.btn-animation(type='submit')
                                  span.btn-animation__text
                                    |Отправить результаты теста на почту
                          .test__form-response
                            |Результат отправлен на почту#[br]
                            span.test__form-email

              section.spray-page__section.margin-top.margin-top--l(id='structure' data-section='')
                .spray-page__structure
                  .spray-page__structure-row
                    .spray-page__structure-col
                      h3.spray-page__section-title
                        |Состав
                      .spray-page__structure-label
                        |на 100 мл. препарата
                    .spray-page__structure-col
                      h4.spray-page__structure-title
                        |Действущее вещество
                      .spray-page__structure-content
                        .spray-page__structure-text.max-width.max-width--col--5
                          |Глицирризиновая кислота активированная (эквивалентно аммонию глицирризинату)
                        .spray-page__structure-num
                          |0,1 г
                    .spray-page__structure-col
                      .spray-page__structure-head
                        h4.spray-page__structure-title
                          |Вспомогательные вещества
                        .spray-page__structure-num
                          |q.s.
                      ul.spray-page__structure-list
                        each item in ['Яблочная кислота', 'Фумаровая кислота', 'Аскорбиновая кислота', 'Фолиевая кислота', 'Пропиленгликоль', 'Твин-80 (полисорбат-80)', 'Вода очищенная',]
                          li.spray-page__structure-item
                            .spray-page__structure-text
                              |!{item}
              section.spray-page__section.margin-top.margin-top--l(id='instruction' data-section='')
                .spray-page__video
                  .spray-page__video-row
                    .spray-page__video-col
                      h3.spray-page__section-title.margin-botto.margin-bottom--m
                        |Способ применения
                      .spray-page__video-button
                        a.download-link.download-link--default(href="#")
                          .download-link__icon
                            +download-svg
                          .download-link__text
                            |Скачать инструкцию
                    .spray-page__video-col
                      .video
                        .video__container
                          .video__frame
                            img.video__img(src="assets/images/video.jpg", alt="")
                          .video__button
                            .video__button-icon
                              +start-svg.video__button-svg
              section.main-page(id='reviews' data-section='')
                .main-page__reviews
                  .main-page__reviews-bg
                  .b.b--reviews-slider-main-page
                    .b__top
                      .spray-page__slider-row
                        .spray-page__slider-col
                          h3.spray-page__slider-title
                            |Отзывы
                        .spray-page__slider-col
                          .spray-page__slider-categories
                            .spray-page__slider-item
                              a.border-link.border-link--active(href="#")
                                |Все отзывы
                            .spray-page__slider-item
                              a.border-link(href="#")
                                |Отзывы врачей
                        .spray-page__slider-col
                          a.spray-page__slider-link(href="#")
                            |Задать вопрос врачу
                    .b__bottom
                      each slide in [1, 2, 3, 4]
                        .b__slide
                          .b__slide-row.b__slide-row--desktop
                            .b__slide-col
                              .b__slide-img
                                img.b__img(src='assets/images/reviews-slider-1.jpeg')
                            .b__slide-col
                              .b__content
                                .b__content-row
                                  .b__content-col
                                    .b__content-top
                                      h5.b__slide-title
                                        span.b__desc-span
                                          |Манукян Наринэ Георгиевна
                                      p.b__desc
                                        span.b__desc-span
                                          |Врач акушер-гинеколог, гинеколог-эндокринолог, лучший врач корпорации
                                      .b__content-wrapper
                                        p.b__review
                                          |Спрей Эпиген Интим представляет собой эффективное и безопасное средство для лечения, профилактики генитальных вирусных инфекций, а гель предназначен для интимной гигиены на каждый день...
                                    .b__content-bottom
                                      a.b__link(href="#")
                                        |Читать отзыв
                                      a.button.button--reviews-slider.btn-animation(href='#')
                                        span.btn-animation__text
                                          |Все отзывы
                                  .b__content-col
                                    .b__content-top
                                      .b__control
                                        .b__control-item
                                          .b.b--btn-left-right-slider.btn-animation.btn-animation--icon(data-command-slider-arrow='prev')
                                            +simple-arrow-svg.b__svg
                                        .b__control-item
                                          .b.b--btn-left-right-slider.b--right.btn-animation.btn-animation--icon(data-command-slider-arrow='next')
                                            +simple-arrow-svg.b__svg
                                    .b__content-bottom
                                      .b__preview
                                        .b__preview-counter
                                          .b__preview-wrapper
                                            span.b__preview-count
                                              |1
                                            |/4
                                        .b__preview-image
                                          img.b__preview-img(src='assets/images/reviews-slider-2.jpeg')
                          .b__slide-mobile
                            .b__slide-row
                              .b__slide-col
                                .b__slide-top
                                  .b__slide-img
                                    img.b__img(src='assets/images/reviews-slider-1.jpeg')
                                  .b__content
                                    h5.b__slide-title
                                      span.b__desc-span
                                        |Сапрыкина Людмила Витальевна
                                    .b__desc
                                      span.b__desc-span
                                        |Ассистент кафедры акушерства и гинекологии ЛФ ФГБОУ ВО им. Н.И. Пирогова МЗ РФ, врач акушер-гинеколог высшей категории, к.м.н. (Москва).
                                .b__slide-bottom
                                  p.b__review
                                    |Осуществляет консультативный прием пациентов, обращающихся по вопросам лечения воспалительных процессов женской половой сферы, занимается проблемами невынашивания беременности и бесплодия, проводит оперативное лечение пациентам.
                              .b__slide-col
                                .b__content-top
                                  .b__control
                                    .b__control-item
                                      .b.b--btn-left-right-slider.btn-animation.btn-animation--icon(data-command-slider-arrow='prev')
                                        +simple-arrow-svg.b__svg
                                    .b__control-item
                                      .b.b--btn-left-right-slider.b--right.btn-animation.btn-animation--icon(data-command-slider-arrow='next')
                                        +simple-arrow-svg.b__svg
                                .b__content-bottom
                                  a.b__link(href="#")
                                    |Читать отзыв
                                  a.button.button--reviews-slider(href='#' data-mdl-open='')
                                    |Все отзывы
            +footer.page__footer
  .modal(data-modal='3')
    .modal-test
      .modal-test__container
        .test
          form.test__container(action="/")
            .test__row
              .test__col
                ul.test__questions
                  each item, index in ['Какие проявления в интимной зоне вас беспокоят?', '2', '3', '4', '5']
                    li.test__question(class = ((index === 0) ? 'test__question--active' : ''))
                      |!{item}
                ul.test__dots
                  - for (i = 0; i < 5; i++)
                    li.test__dot(class = ((i === 0) ? 'test__dot--active' : ''))
              .test__col
                - for (i = 0; i < 5; i++)
                  .test__options(class = ((i === 0) ? 'test__options--active' : ''))
                    each item in ['Обильные выделения без неприятного запаха', 'Выделения с неприятным запахом', 'Болезненные пузырьки в интимной зоне, превращающиеся в язвы', 'Безболезненные папилломы, узелки, наросты или бородавки в интимной зоне', 'Что-то другое, не указанное выше']
                      label.test__label(for="#")
                        input.test__radio(type="radio" name='question-' + (i + 1))
                        .test__icon
                          +check-svg
                        .test__text
                          |#{item}
            .test__index
              |1
          .test__result
            .test__result-container
              .test__result-row
                .test__result-col
                  .test__result-caption
                    |возможный диагноз
                  h3.test__result-title
                    |Бактериальный вагиноз
                  p.test__result-text
                    |Неприятный запах выделений из половых путей часто сопровождает бактериальный вагиноз. Для уточнения диагноза и исключения инфекций, передаваемых половым путем, необходимо обратиться к врачу и сдать дополнительные анализы, без них разобраться в проблеме будет сложно.
                  .test__result-label
                    .link-text.link-text--s
                      |Для повышения эффективности лечения попробуйте спрей #[a.link-text__link(href='#') Эпиген Интим] . Он обладает противовоспалительным и местным иммуностимулирующим эффектом.
                .test__result-col
                  .test__form
                    .test__form-wrapper
                      h4.test__form-title
                        |Для получения результатов теста укажите E&#8209;mail
                      form.form(action='/')
                        .test__form-item
                          label.form__item
                            input.form__input(type="text" name="email")
                            span.form__placeholder
                              |E-mail
                        .test__form-item
                          button.button.button--wide.btn-animation(type='submit')
                            span.btn-animation__text
                              |Отправить результаты теста на почту
                    .test__form-response
                      |Результат отправлен на почту#[br]
                      span.test__form-email
      .modal-test__button
        .button-close.btn-animation.btn-animation--icon(data-button='3')
          +cross-svg.button-close__svg
