extends ../layouts/master.pug

include ../components/footer.pug

//- block cookies
block grid-test

mixin nav-page-d
  nav.nav-page-d
    ul.nav-page-d__list
      -
        var items = [
          {
            href: '#',
            title: 'Спрей',
          },
          {
            href: '#',
            title: 'Форма выпуска',
          },
          {
            href: '#',
            title: 'Назначение',
          },
          {
            href: '#',
            title: 'Состав',
          },
          {
            href: '#',
            title: 'Инструкция',
          },
          {
            href: '#',
            title: 'Диагностический тест',
          },
          {
            href: '#',
            title: 'Отзывы',
          },
        ]
      each item, index in items
        li.nav-page-d__item(class = ((index === 0) ? 'nav-page-d__item--active' : ''))
          a.nav-page-d__link(href=item.href)
            |!{item.title}

mixin copyright-link
  a.copyright-link(href=attributes.href)
    .copyright-link__mark
      +copyright-svg.copyright-link__mark-svg
    .copyright-link__text
      block

block content
  .spray-page
    .container
      .row
        .row__col.row__col--aside.row__col--rail
          .aside
            .aside__inner
              .aside__container
                .aside__top
                  header.aside__header.aside__header--margin-bottom--default
                    a.aside__logo(href='#')
                      +logo-svg.aside__logo-svg
                    .aside__menu
                      .aside__menu-text
                        |Меню
                      .aside__menu-button
                  +nav-page-d
                .aside__bottom
                  a.button.button--spray.margin-bottom.margin-bottom--m(href="#")
                    |Где купить
                  +copyright-link(href='#')
                    |Компания «Инвар», 2021
        .row__col.row__col--main
          .page
            header.page__header
              .panel
                .panel__panel
                  .panel__row
                    .panel__col
                      .panel__inner
                        .panel__product
                          //- .panel__product-item--active
                          a.panel__product-item.panel__product-item--active(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Спрей
                          a.panel__product-item.panel__product-item--purple(href='#')
                            .panel__product-mark
                            .panel__product-text
                              |Гель
                    .panel__col
                      .panel__inner
                        a.panel__where-buy(href='#')
                          |Где купить
                    .panel__col
                      .panel__inner
                        .panel__choice
                          .panel__choice-item(data-count=8)
                            |Симптомы
                          .panel__choice-item(data-count=12)
                            |Заболевания
                    .panel__col
                      .panel__inner
                        .panel__consultation
                          +consultation-svg.panel__consultation-svg
                          .panel__consultation-text
                            |Консультация эксперта
            main.page__main
              section.spray-page__section
                .frame.frame--spray
                  img.frame__img(src='assets/images/spray-frame.jpg')
                  .spray-page__intro
                    .spray-page__intro-row
                      .spray-page__intro-col
                        ul.spray-page__intro-list
                          li.spray-page__intro-item
                            .category-item.category-item--blue
                              |Сделано в Испании
                          li.spray-page__intro-item
                            .category-item.category-item--blue
                              |Соответсвует стандартам GMP
                      .spray-page__intro-col
                        h1.spray-page__intro-title
                          |Спрей#[br]Эпиген Интим
                .spray-page__intro.spray-page__intro--mobile
                  .spray-page__intro-row
                    .spray-page__intro-col
                      h1.spray-page__intro-title
                        |Спрей Эпиген Интим
                    .spray-page__intro-col
                      ul.spray-page__intro-list
                        li.spray-page__intro-item
                          .category-item.category-item--blue
                            |Сделано в Испании
                        li.spray-page__intro-item
                          .category-item.category-item--blue
                            |Соответсвует стандартам GMP
                    .spray-page__intro-col
                      a.button.button--spray.margin-bottom.margin-bottom--m(href="#")
                        |Где купить
              section.spray-page__section.margin-top.margin-top--l
                .spray-page__section-row
                  .spray-page__section-col
                    h3.spray-page__section-title
                      |Эпиген Интим Спрей предназначен для профилактики и лечения гинекологических заболеваний
                  .spray-page__section-col
                    p.spray-page__section-text
                      |Разрешен к применению на любом сроке беременности и в период прегравидарной подготовки, не противопоказан детям.
              section.spray-page__section
                .product-slider
                  .product-slider__slide.product-slider__slide--front
                    .product-slider__content
                      .product-slider__layout
                      .product-slider__top
                        ul.product-slider__btns
                          li.product-slider__btns-item
                            .spray-page__tabs-item.spray-page__tabs-item--active
                              .spray-page__tabs-container
                                .spray-page__tabs-row
                                  .spray-page__tabs-col
                                    +spray-svg.spray-page__tabs-icon
                                  .spray-page__tabs-col
                                    .spray-page__tabs-num
                                      |15
                          li.product-slider__btns-item
                            .spray-page__tabs-item
                              .spray-page__tabs-container
                                .spray-page__tabs-row
                                  .spray-page__tabs-col
                                    +spray-svg.spray-page__tabs-icon
                                  .spray-page__tabs-col
                                    .spray-page__tabs-num
                                      |60
                        ul.product-slider__list
                          li.product-slider__list-item
                            |Для 1 полноценного курса лечения
                          li.product-slider__list-item
                            |Для 2-3 курсов короткой  профилактики
                          li.product-slider__list-item
                            |Для дорожной аптечки
                          li.product-slider__list-item
                            |Удобно брать с собой
                      .product-slider__bottom
                        .product-slider__counter
                          .product-slider__counter-top
                            .product-slider__counter-text.product-slider__counter-text--uppercase
                              |до
                          .product-slider__counter-bottom
                            .product-slider__counter-count
                              .product-slider__counter-text.product-slider__counter-text--large
                                |115
                            .product-slider__counter-amount
                              .product-slider__counter-text.product-slider__counter-text--uppercase
                                |доз
                  .product-slider__slide
                    .product-slider__content
                      .product-slider__layout
                      .product-slider__top
                        ul.product-slider__btns
                          li.product-slider__btns-item
                            .spray-page__tabs-item
                              .spray-page__tabs-container
                                .spray-page__tabs-row
                                  .spray-page__tabs-col
                                    +spray-svg.spray-page__tabs-icon
                                  .spray-page__tabs-col
                                    .spray-page__tabs-num
                                      |15
                          li.product-slider__btns-item
                            .spray-page__tabs-item.spray-page__tabs-item--active
                              .spray-page__tabs-container
                                .spray-page__tabs-row
                                  .spray-page__tabs-col
                                    +spray-svg.spray-page__tabs-icon
                                  .spray-page__tabs-col
                                    .spray-page__tabs-num
                                      |60
                        ul.product-slider__list
                          li.product-slider__list-item
                            |Во время беремнности
                          li.product-slider__list-item
                            |Для применения вместе с партнером 1 год использования по требованию
                          li.product-slider__list-item
                            |Для длительного лечения или профилактики
                          li.product-slider__list-item
                            |Для применения обоими партнерами
                          li.product-slider__list-item
                            |На период беременности
                      .product-slider__bottom
                        .product-slider__counter
                          .product-slider__counter-top
                            .product-slider__counter-text.product-slider__counter-text--uppercase
                              |до
                          .product-slider__counter-bottom
                            .product-slider__counter-count
                              .product-slider__counter-text.product-slider__counter-text--large
                                |460
                            .product-slider__counter-amount
                              .product-slider__counter-text.product-slider__counter-text--uppercase
                                |доз
              section.spray-page__section.margin-top.margin-top--l
                ul.spray-page__list
                  li.spray-page__list-item.spray-page__list-item--default
                    p.spray-page__list-text
                      |5 эффектов спрея Эпиген Интим для помощи при различных заболеваниях интимной зоны
                  li.spray-page__list-item
                    .spray-page__list-container
                      .spray-page__list-img
                        +spray-1-svg
                      h3.spray-page__list-title
                        |Противовирусный
                  li.spray-page__list-item
                    .spray-page__list-container
                      .spray-page__list-img
                        +spray-2-svg
                      h3.spray-page__list-title
                        |Противовоспалительный
                  li.spray-page__list-item
                    .spray-page__list-container
                      .spray-page__list-img
                        +spray-3-svg
                      h3.spray-page__list-title
                        |Противозудный
                  li.spray-page__list-item
                    .spray-page__list-container
                      .spray-page__list-img
                        +spray-4-svg
                      h3.spray-page__list-title
                        |Регенерирующий
                  li.spray-page__list-item
                    .spray-page__list-container
                      .spray-page__list-img
                        +spray-5-svg
                      h3.spray-page__list-title
                        |Иммуностимулирующий
              section.spray-page__section.margin-top.margin-top--l
                h3.spray-page__section-title
                  |Применяется при лечении
                .spray-page__use.margin-top.margin-top--md
                  ul.spray-page__use-list
                    li.spray-page__use-item
                      .spray-page__use-card
                        .spray-page__use-container
                          .spray-page__use-img
                            +spray-use-1-svg
                          .spray-page__use-text
                            |Генитальный герпес
                      .spray-page__use-card
                        .spray-page__use-container
                          .spray-page__use-img
                            +spray-use-2-svg
                          .spray-page__use-text
                            |ВПЧ
                    li.spray-page__use-item
                      .spray-page__use-card.spray-page__use-card--big
                        .spray-page__use-container
                          .spray-page__use-img
                            +spray-use-3-svg
                          .spray-page__use-text
                            |Бактериальный вагиноз, неспецифический вагинит
                    li.spray-page__use-item
                      .spray-page__use-card.spray-page__use-card--big
                        .spray-page__use-container
                          .spray-page__use-img
                            +spray-use-4-svg
                          .spray-page__use-text
                            |Дискомфорт, связанный с половым актом
                    li.spray-page__use-item
                      .spray-page__use-card
                        .spray-page__use-container
                          .spray-page__use-img
                            +spray-use-5-svg
                          .spray-page__use-text
                            |Заболевания шейки матки
                      .spray-page__use-card
                        .spray-page__use-container
                          .spray-page__use-img
                            +spray-use-6-svg
                          .spray-page__use-text
                            |При беременности
              section.spray-page__section.margin-top.margin-top--l
                .spray-page__content
                  .spray-page__content-layout
                    +star-svg.spray-page__content-img
                    +moon-svg.spray-page__content-icon
                    +triangle-bg-svg.spray-page__content-bg
                  .spray-page__content-content
                    h3.spray-page__content-title
                      |Ощущаете дискомфорт в интимной зоне?
                    .spray-page__content-row
                      .spray-page__content-col
                        a.spray-page__content-button(href="#" data-scroll='#test')
                      .spray-page__content-col
                        .spray-page__content-text
                          |Пройдите тест и узнайте больше о решении данной проблемы
              section.test.margin-top.margin-top--md(id='test')
                form.test__container(action="/")
                  .test__row
                    .test__col
                      .test__question
                        |Какие проявления в интимной зоне вас беспокоят?
                      ul.test__dots
                        - for (i = 0; i < 5; i++)
                          li.test__dot(class = ((i === 0) ? 'test__dot--active' : ''))
                    .test__col
                      .test__options
                        each item in ['Обильные выделения без неприятного запаха', 'Выделения с неприятным запахом', 'Болезненные пузырьки в интимной зоне, превращающиеся в язвы', 'Безболезненные папилломы, узелки, наросты или бородавки в интимной зоне', 'Что-то другое, не указанное выше']
                          label.test__label(for="#")
                            input.test__radio(type="radio")
                            .test__icon
                              +check-svg
                            .test__text
                              |#{item}
                  .test__index
                    |1
              section.spray-page__section.margin-top.margin-top--l
                .spray-page__structure
                  .spray-page__structure-row
                    .spray-page__structure-col
                      h3.spray-page__section-title
                        |Состав
                      .spray-page__structure-label
                        |на 100 мл. препарата
                    .spray-page__structure-col
                      h4.spray-page__structure-title
                        |Действущее вещество
                      .spray-page__structure-content
                        .spray-page__structure-text.max-width.max-width--col--5
                          |Глицирризиновая кислота активированная (эквивалентно аммонию глицирризинату)
                        .spray-page__structure-num
                          |0,1 г
                    .spray-page__structure-col
                      .spray-page__structure-head
                        h4.spray-page__structure-title
                          |Вспомогательные вещества
                        .spray-page__structure-num
                          |q.s.
                      ul.spray-page__structure-list
                        each item in ['Яблочная кислота', 'Фумаровая кислота', 'Аскорбиновая кислота', 'Фолиевая кислота', 'Пропиленгликоль', 'Твин-80 (полисорбат-80)', 'Вода очищенная',]
                          li.spray-page__structure-item
                            .spray-page__structure-text
                              |!{item}
              section.spray-page__section.margin-top.margin-top--l
                .spray-page__video
                  .spray-page__video-row
                    .spray-page__video-col
                      h3.spray-page__section-title.margin-botto.margin-bottom--m
                        |Способ применения
                      .spray-page__video-button
                        a.download-link.download-link--default(href="#")
                          .download-link__icon
                            +download-svg
                          .download-link__text
                            |Скачать инструкцию
                    .spray-page__video-col
                      .video
                        .video__container
                          .video__frame
                            img.video__img(src="assets/images/video.jpg", alt="")
                          .video__button
                            .video__button-icon
                              +start-svg.video__button-svg
              section.spray-page__section.margin-top.margin-top--l
            +footer.page__footer
