mixin product-link
  a.product-link(class=attributes.class href='#')
    .product-link__image
      img.product-link__img(src=attributes.src)
    .product-link__text
      block

mixin footer
  footer.footer(class=attributes.class)
    .footer__top
      .footer__row
        .footer__row-col
          ul.footer__product
            li.footer__product-item
              +product-link.product-link--height--100p(src='assets/images/spray.jpeg')
                |Спрей
            li.footer__product-item
              +product-link.product-link--purple.product-link--height--100p(src='assets/images/gel.jpeg')
                |Гель
        .footer__row-col
          .footer__block
            .footer__block-col
              nav.footer__nav
                ul.footer__nav-list
                  .footer__nav-col
                    -
                      var items = [
                        'Где купить',
                        'Вопрос эксперту',
                        'Отзывы Спрей Эпиген',
                        'Отзывы Гель Эпиген',
                      ]
                    each item in items
                      li.footer__nav-item
                        a.footer__nav-link(href="#")
                          |!{item}
                  .footer__nav-col
                    -
                      var items = [
                        'Видео с экспертами',
                        'Статьи экспертов',
                        'Вопрос-ответ',
                        'Специалистам',
                      ]
                    each item in items
                      li.footer__nav-item
                        a.footer__nav-link(href="#")
                          |!{item}
            .footer__block-col
              .footer__col
                .footer__contact
                  .footer__contact-item
                    ul.footer__phone
                      -
                        var items = [
                          '8 800 333-60-02',
                          '8 495 544-51-54',
                        ]
                      each item in items
                        li.footer__phone-item
                          a.footer__phone-link(href=`tel:${item}`)
                            |!{item}
                  .footer__contact-item
                    address.footer__address
                      |107023, Москва, пл. Журавлева, 2/2
                .footer__info
                  ul.footer__doc
                    li.footer__doc-item
                      a.footer__doc-link(href='#')
                        |Политика конфиденциальности
                    li.footer__doc-item
                      a.footer__doc-link(href='#')
                        |Положение о пользовании сайтом
                  p.footer__dev
                    span.footer__dev-text
                      |Сделано в&nbsp;
                    a.footer__dev-text.footer__dev-link(href='#')
                      |СloudMill
    .footer__bottom
      .footer__disclaimer
        |Информация, размещенная на веб-сайте, носит справочный характер и не может считаться консультацией медицинского работника или заменить ее
