
mixin modal-mobile
  .modal-mobile.modal-mobile--height--100vh-60p(data-modal-id='1')
    .modal-mobile__inner
      .modal-mobile__container
        .modal-mobile__products
          .modal-mobile__products-item
            +product-link.product-link--modal--mobile(src='assets/images/spray-product.jpg')
              |Спрей
          .modal-mobile__products-item
            +product-link.product-link--modal--mobile.product-link--purple(src='assets/images/gel.jpg')
              |Гель
      .panel.panel--modal
        .panel__choice
          .modal-mobile__choice
            .modal-mobile__choice-button
              .panel__choice-item(data-count='8')
                |Симптомы
              +spoiler-arrow-svg.modal-mobile__choice-svg
            .modal-mobile__choice-dropdown
              ul.modal-mobile__choice-list
                each item in ['Зуд', 'Жжение', 'Выделения, пузырьки', 'Пузырьки, язвочки', 'Болезненность, выделения',]
                  li.modal-mobile__choice-item
                    a.modal-mobile__choice-link(href="#") 
                      |#{item}
          .modal-mobile__choice
            .modal-mobile__choice-button
              .panel__choice-item(data-count='12')
                |Заболевания
              +spoiler-arrow-svg.modal-mobile__choice-svg
            .modal-mobile__choice-dropdown
              ul.modal-mobile__choice-list
                each item in ['Генитальный герпес (I и II типа)', 'ВПЧ', 'Применение при беременности', 'Молочница', 'Бактериальный вагиноз',]
                  li.modal-mobile__choice-item
                    a.modal-mobile__choice-link(href="") 
                      |#{item}
        .modal-mobile__links
          .modal-mobile__container
            .modal-mobile__links-row
              .modal-mobile__links-col
                ul.modal-mobile__links-list
                  li.modal-mobile__links-item
                    .panel__test(data-button='3')
                      +calendar-test-svg.panel__test-icon
                      .panel__test-text
                        |Пройти тест
                  li.modal-mobile__links-item
                    .panel__consultation(data-button='6')
                      +consultation-svg.panel__consultation-svg
                      .panel__consultation-text
                        |Консультация эксперта
                .modal-mobile__bottom
                  .modal-mobile__container
                    ul.modal-mobile__bottom-links
                      li.modal-mobile__bottom-item
                        a.modal-mobile__bottom-doc(href="#")
                          |Политика конфиденциальности
                      li.modal-mobile__bottom-item
                        a.modal-mobile__bottom-doc(href="#")
                          |Положение о пользовании сайтом
                      li.modal-mobile__bottom-item
                        .modal-mobile__bottom-text
                          span
                            |Сделано в&nbsp;
                          a.modal-mobile__bottom-link(href="#")
                            |CloudMill
              .modal-mobile__links-col
                ul.modal-mobile__links-list
                  each item in ['Где купить', 'Вопрос эксперту', 'Отзывы Спрей Эпиген ', 'Отзывы Гель Эпиген ', 'Видео с экспертами', 'Статьи экспертов', 'Вопрос-ответ', 'Специалистам',]
                    li.modal-mobile__links-item
                      a.modal-mobile__links-link(href="#")
                        |#{item}
      .modal-mobile__bottom.modal-mobile__bottom--m
        .modal-mobile__container
          ul.modal-mobile__bottom-links
            li.modal-mobile__bottom-item
              a.modal-mobile__bottom-doc(href="#")
                |Политика конфиденциальности
            li.modal-mobile__bottom-item
              a.modal-mobile__bottom-doc(href="#")
                |Положение о пользовании сайтом
            li.modal-mobile__bottom-item
              .modal-mobile__bottom-text
                span
                  |Сделано в&nbsp;
                a.modal-mobile__bottom-link(href="#")
                  |CloudMill

mixin modal-test 
  .modal(data-modal='3')
    .modal-test
      .modal-test__container
        .test
          form.test__container(action="/")
            .test__row(data-aos='fade-up')
              .test__col
                ul.test__questions
                  each item, index in ['Какие проявления в интимной зоне вас беспокоят?', 'Как часто вас беспокоят данные проявления?', 'Когда вы были последний раз на приеме у врача гинеколога?', 'Каким образом Вы решали проблему?', 'Удалось ли справиться с проблемой?']
                    li.test__question(class = ((index === 0) ? 'test__question--active' : ''))
                      |!{item}
                ul.test__dots
                  - for (i = 0; i < 5; i++)
                    li.test__dot(class = ((i === 0) ? 'test__dot--active' : ''))
              .test__col
                .test__options.test__options--active
                  each item in ['Обильные выделения без неприятного запаха', 'Выделения с неприятным запахом', 'Болезненные пузырьки в интимной зоне, превращающиеся в язвы', 'Безболезненные папилломы, узелки, наросты или бородавки в интимной зоне', 'Что-то другое, не указанное выше']
                    label.test__label(for="#")
                      input.test__radio(type="radio" name='question-1')
                      .test__icon
                        +check-svg
                      .test__text
                        |#{item}
                .test__options
                  each item in ['Беспокоят впервые', 'Уже случалось ранее', 'Беспокоят периодически 1-2 раза в год', 'Беспокоят периодически 3-4 раза в год', 'После лечения вскоре снова обостряется']
                    label.test__label(for="#")
                      input.test__radio(type="radio" name='question-2')
                      .test__icon
                        +check-svg
                      .test__text
                        |#{item}
                .test__options
                  each item in ['Не считаю нужным обращаться к врачу', 'Более 3 лет назад', 'Более 1 года назад', 'В этом году', 'Обращалась к гинекологу когда возникла данная проблема']
                    label.test__label(for="#")
                      input.test__radio(type="radio" name='question-3')
                      .test__icon
                        +check-svg
                      .test__text
                        |#{item}
                .test__options
                  each item in ['Пока ничего не делала, только наблюдала', 'Использовала средства народной медицины', 'Лечилась тем, что посоветовал фармацевт в аптеке', 'Лечилась лекарствами, которые советовали в интернете', 'Лечилась тем, что назначил врач гинеколог']
                    label.test__label(for="#")
                      input.test__radio(type="radio" name='question-4')
                      .test__icon
                        +check-svg
                      .test__text
                        |#{item}
                .test__options
                  each item in ['Да, удалось', 'Нет, не удалось', 'Лечение помогло, но не в полной мере', 'Пока не лечилась', 'Лечиться не планирую, интересуюсь ради любопытства']
                    label.test__label(for="#")
                      input.test__radio(type="radio" name='question-5')
                      .test__icon
                        +check-svg
                      .test__text
                        |#{item}
            .test__index
              |1
          .test__result
            .test__result-container
              .test__result-row
                .test__result-col
                  .test__result-first
                    p.test__result-text
                      |Обильные выделения из половых путей часто являются признаком воспаления. Для уточнения диагноза и исключения инфекций, передаваемых половым путем, необходимо обратиться к врачу и сдать дополнительные анализы, без них разобраться в проблеме будет сложно 
                  .test__result-second
                    .test__result-label
                      .link-text.link-text--s
                        |Для профилактики рецидивов попробуйте спрей #[a.link-text__link.btn-animation(href='#') #[span.btn-animation__text Эпиген Интим]] . Он обладает противовоспалительным и местным иммуностимулирующим эффектом. Подробнее о спрее Эпиген Интим спрей читайте здесь
                  .test__result-button 
                    .button.button--wide.btn-animation.test__result-btn
                      span.btn-animation__text
                        |Пройти тест заново
                .test__result-col
                  .test__form
                    .test__form-wrapper(data-form='5')
                      h4.test__form-title
                        |Для получения результатов теста укажите E&#8209;mail
                      form.form(action='/')
                        .test__form-item
                          label.form__item
                            input.form__input(type="email" name="email" required='required')
                            span.form__placeholder
                              |E-mail
                        .test__form-item
                          button.button.button--wide.btn-animation(type='submit' data-form-button='5')
                            span.btn-animation__text
                              |Отправить результаты теста на почту
                    .test__form-response(data-response='5')
                      |Результат отправлен на почту#[br]
                      span.test__form-email
      .modal-test__button
        .button-close.btn-animation.btn-animation--icon(data-button='3')
          +cross-svg.button-close__svg

mixin modal-consultation  
  .modal(data-modal='6')
    .mdl
      .mdl__container
        .mdl__content.mdl__content--md.mdl__interactive
          .mdl__inner
            .mdl__form
              .mdl__form-container
                form.form(action="/" data-form='10')
                  h3.mdl__form-title
                    |Задать вопрос врачу
                  label.form__item
                    input.form__input(type="text" name="name" data-form-input='')
                    span.form__placeholder
                      |Имя
                  label.form__item
                    input.form__input(type="email" name="email" required='required' data-form-input='')
                    span.form__placeholder
                      |E-mail
                  .form__item
                    textarea.form__textarea(name="message" placeholder="Сообщение", cols="30", rows="10" required='' data-form-input='')
                  .form__inner
                    .file
                      input.file__input(id="file" type="file" multiple)
                      .file__container
                      label.file__label(for="file")
                        .file__icon
                          +file-svg
                        .file__text
                          |Прикрепить файл
                    .checkbox
                      label.checkbox__label
                        input.checkbox__input(type="checkbox" id='checkbox-1' required='required')
                        .checkbox__box
                          +check-svg.checkbox__icon
                        .checkbox__text
                          |Согласен на обработку персональных данных в соответствии с #[a.checkbox__link(href="policy") политикой конфиденциальности]
                  .form__button
                    button.button.button--wide.btn-animation(type='submit' data-form-button='10')
                      span.btn-animation__text
                        |Отправить
                .mdl__response(data-response='10')
                  h3.mdl__form-title
                    |Мы получили ваше сообщение и ответим на него в ближайшее время.
                  .button.button--wide.btn-animation(data-response-button='10')
                    span.btn-animation__text
                      |Отправить еще
          .mdl__close.mdl__interactive.button-close.btn-animation.btn-animation--icon(data-button='6')
            +cross-svg.button-close__svg

mixin modal-article 
  .mdl
    .mdl__container
      .mdl__content.mdl__interactive
        .mdl__article(data-mdl-container='')
          .mdl__article-container
            .mdl__article-doctor
              .mdl__article-row
                .mdl__article-col
                  .mdl__article-img
                    img(src="assets/images/review-3.jpeg", alt="")
                .mdl__article-col
                  .mdl__article-name
                    |Ерёмина Марина Евгеньевна
                  .mdl__article-prof
                    |Врач акушер-гинеколог, гинеколог-эндокринолог, врач высшей категории, заместитель главного врача по медицинской части..
            .mdl__article-content
              h3
                |Мой опыт применения Эпиген Интим спрея
              .mdl__article-wrapper
                p
                  |Вирусные заболевания - частая причина обращения женщин в наше лечебное учреждение.
                p
                  |Лечение герпетической инфекции - одна из самых актуальных и сложных задач.
                p
                  |Генитальный герпес часто протекает атипично, есть трудности в диагностике этого заболевания. Выбор лекарственных средств для лечения генитального герпеса у беременных очень ограничен.
                p
                  |Эпиген Интим спрей - уникальный препарат, имеет доказанную эффективность, и безопасность, нет множества ограничений в применении, хорошо переносится, даёт быстрый результат
                p
                  |По сути, является препаратом скорой помощи, в случае вирусных инфекций может назначаться сразу после обращения пациентки к врачу ещё до получения результатов лабораторных исследований.
                p
                  |Также его применение целесообразно в профилактических целях, на долгосрочную перспективу. Это важно для профилактики рецидивирования генитальных вирусных инфекций, в том числе во время беременности и перед родами.
                p
                  |Отдельная проблема - лечение ВПЧ и ВПЧ-ассоциированные заболеваний шейки матки и влагалища. Эпиген применяю в составе комплексной противовирусной терапии, при удалении кондилом, для лучшей регенерации тканей в период восстановления, в том числе во время беременности.
                p
                  |Удобно, что есть Эпиген Интим гель, средство для интимной гигиены для повседневного использования, который дополняет назначенное лечение.
        .mdl__close.mdl__interactive.button-close.btn-animation.btn-animation--icon
          +cross-svg.button-close__svg

//- симптомы, заболевания
mixin modal-header
  .panel-modal(data-modal-id='2')
    .panel-modal__container
      .panel-modal__row
        .panel-modal__col
          ul.panel-modal__list
            each item in ['Генитальный герпес (I и II типа)', 'ВПЧ', 'Применение при беременности', 'Молочница', 'Бактериальный вагиноз',]
              li.panel-modal__item.animation
                a.panel-modal__link(href="#")
                  |#{item}
        .panel-modal__col
          ul.panel-modal__list
            each item in ['ВПЧ', 'Молочница',]
              li.panel-modal__item.animation
                a.panel-modal__link(href="#")
                  |#{item}
  .panel-modal(data-modal-id='3')
    .panel-modal__container
      .panel-modal__row
        .panel-modal__col
          ul.panel-modal__list
            each item in ['Зуд', 'Жжение', 'Выделения, пузырьки', 'Пузырьки, язвочки', 'Болезненность, выделения',]
              li.panel-modal__item.animation
                a.panel-modal__link(href="#")
                  |#{item}
        .panel-modal__col
          ul.panel-modal__list
            each item in ['Болезненность при половом контакте', 'Боль внизу живота', 'Боль при мочеиспускании']
              li.panel-modal__item.animation
                a.panel-modal__link(href="#")
                  |#{item}

mixin modal-aside 
  .modal-aside
    .modal-aside__container
      .modal-aside__row
        .modal-aside__col
          nav.modal-aside__nav
            ul.modal-aside__nav-list
              .modal-aside__nav-col
                each item in ['Где купить', 'Вопрос эксперту', 'Отзывы Спрей Эпиген ', 'Отзывы Гель Эпиген ',]
                  li.modal-aside__nav-item.animation
                    a.modal-aside__nav-link(href="#")
                      |#{item}
              .modal-aside__nav-col
                each item in ['Видео с экспертами', 'Статьи экспертов', 'Вопрос-ответ', 'Специалистам',]
                  li.modal-aside__nav-item.animation
                    a.modal-aside__nav-link(href="#")
                      |#{item}
          .modal-aside__corp.animation
            span
              |Сделано в&nbsp;
            a.modal-aside__corp-link(href="#")
              |CloudMill
        .modal-aside__col
          .modal-aside__col-item
            +product-link.product-link--modal--aside.animation(src='assets/images/spray-product.jpg')
              |Спрей
            .modal-aside__doc.animation
              a.modal-aside__doc-link(href="#")
                |Политика конфиденциальности
          .modal-aside__col-item
            +product-link.product-link--modal--aside.product-link--purple.animation(src='assets/images/gel.jpg')
              |Гель
            .modal-aside__doc.animation
              a.modal-aside__doc-link(href="#")
                |Положение о пользовании сайтом
